{% extends 'base.html.twig' %}
{% use 'notifications/_blocks.html.twig' %}

{%- block title -%}
    {{- 'notifications'|trans }} - {{ parent() -}}
{%- endblock -%}

{% block mainClass %}page-notifications{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    <h1>{{ 'notifications'|trans }}</h1>

    <div class="pills">
        <div>
            <form action="{{ path('notifications_read') }}" method="POST" class="me-2">
                <button class="btn btn__primary" type="submit">
                    {{ 'read_all'|trans }}
                </button>
            </form>
            <form method="post" action="{{ path('notifications_clear') }}"
                  data-action="confirmation#ask" data-confirmation-message-param="{{ 'are_you_sure'|trans }}">
                <button class="btn btn__secondary" type="submit">
                    <i class="fa-solid fa-dumpster" aria-hidden="true"></i> <span>{{ 'purge'|trans }}</span>
                </button>
            </form>

            <div data-controller="push" id="push-subscription-div" data-application-server-public-key="{{ applicationServerKey }}" style="margin-left: auto;">
                <button id="push-subscription-test-btn" data-action="push#testPush" class="btn btn__secondary" style="height: auto;">
                    {{ 'test_push_notifications_button'|trans }}
                </button>
                <button id="push-subscription-register-btn" data-action="push#registerPush" class="btn btn__primary" style="height: auto;">
                    {{ 'register_push_notifications_button'|trans }}
                </button>
                <button id="push-subscription-unregister-btn" data-action="push#unregisterPush" class="btn btn__secondary" style="height: auto;">
                    {{ 'unregister_push_notifications_button'|trans }}
                </button>
            </div>
        </div>

    </div>

    {% for notification in notifications %}
        <div class="{{ html_classes('section section--small notification', {'opacity-50': notification.status is not same as 'new' }) }}"
            {% if not notification.entry.magazine.apId and not notification.post.magazine.apId and (app.user.admin or app.user.moderator) %}
                style="border-color:var(--kbin-upvoted-color);"
            {% endif %}>
            <div>
                {%- with {
                    notification: notification,
                    showMagazine: false,
                } only -%}
                    {{ block(notification.type) }}
                {%- endwith -%}
            </div>
            <span>{{ component('date', {date: notification.createdAt}) }}</span>
        </div>
    {% endfor %}
    {% if(notifications.haveToPaginate is defined and notifications.haveToPaginate) %}
        {{ pagerfanta(notifications, null, {'pageParameter':'[p]'}) }}
    {% endif %}
    {% if not notifications|length %}
        <aside class="section section--muted">
            <p>{{ 'empty'|trans }}</p>
        </aside>
    {% endif %}
{% endblock %}
