{%- set V_TRUE = constant('App\\Controller\\User\\ThemeSettingsController::TRUE') -%}
{%- set V_FALSE = constant('App\\Controller\\User\\ThemeSettingsController::FALSE') -%}
{%- set V_CHAT = constant('App\\Controller\\User\\ThemeSettingsController::CHAT') -%}
{%- set V_TREE = constant('App\\Controller\\User\\ThemeSettingsController::TREE') -%}

{%- set SHOW_COMMENT_USER_AVATARS = app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_COMMENTS_SHOW_USER_AVATAR'), V_TRUE) -%}
{%- set SHOW_POST_USER_AVATARS = app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_POSTS_SHOW_USERS_AVATARS'), V_TRUE) -%}
{%- set DYNAMIC_LISTS = app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_GENERAL_DYNAMIC_LISTS'), V_FALSE) -%}
{%- set VIEW_STYLE = app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::POST_COMMENTS_VIEW'), V_TREE) -%}

{% if showNested is not defined %}
    {% if VIEW_STYLE is same as V_CHAT %}
        {% set showNested = false %}
    {% else %}
        {% set showNested = true %}
    {% endif %}
{% endif %}
{% if level is not defined %}
    {% set level = 1 %}
{% endif %}
{% set autoAction = is_route_name('post_single') ? 'notifications:PostCommentCreatedNotification@window->subject-list#addComment' : 'notifications:PostCommentCreatedNotification@window->subject-list#addCommentOverview' %}
{% set manualAction = is_route_name('post_single') ? 'notifications:PostCommentCreatedNotification@scroll-top#increaseCounter' : 'notifications:PostCommentCreatedNotification@window->scroll_top#increaseCounter' %}
<div class="{{ html_classes('comments post-comments comments-tree', {
         'show-comment-avatar': SHOW_COMMENT_USER_AVATARS is same as V_TRUE,
         'show-post-avatar': SHOW_POST_USER_AVATARS is same as V_TRUE },
         'comments-view-style--'~VIEW_STYLE
     ) }}"
     data-controller="subject-list"
     data-action="{{- DYNAMIC_LISTS is same as V_TRUE ? autoAction : manualAction -}}">
    {% for comment in comments %}
        {{ component('post_comment', {
            comment: comment,
            showNested: showNested,
            dateAsUrl: dateAsUrl is defined ? dateAsUrl : true,
            level: level,
            criteria: criteria,
        }) }}
    {% endfor %}
    {% if(comments.haveToPaginate is defined and comments.haveToPaginate) %}
        {{ pagerfanta(comments, null, {'pageParameter':'[p]'}) }}
    {% endif %}
    {% if not comments|length %}
        <aside class="section section--muted">
            <p>{{ 'no_comments'|trans }}</p>
        </aside>
    {% elseif VIEW_STYLE is same as V_TREE %}
        <div class="comment-line--2"></div>
        <div class="comment-line--3"></div>
        <div class="comment-line--4"></div>
        <div class="comment-line--5"></div>
        <div class="comment-line--6"></div>
        <div class="comment-line--7"></div>
        <div class="comment-line--8"></div>
        <div class="comment-line--9"></div>
    {% endif %}
</div>
