<li class="dropdown">
    <button class="stretched-link" data-subject-target="more">{{ 'more'|trans }}</button>
    <ul class="dropdown__menu" data-controller="clipboard">
        <li>
            <a href="{{ path('post_comment_report', {id: comment.id}) }}"
                class="{{ html_classes({'active': is_route_name('post_comment_report')}) }}"
                data-action="subject#getForm">
                {{ 'report'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ post_comment_voters_url(comment) }}"
                class="{{ html_classes({'active': is_route_name('post_comment_favourites') or is_route_name('post_comment_voters')}) }}">
                {{ 'activity'|trans }}
            </a>
        </li>

        {% if app.user is defined and app.user is not same as null %}
            {% set bookmarkLists = get_bookmark_lists(app.user) %}
            {% if bookmarkLists|length %}
                <li class="dropdown__separator"></li>
                {% for list in bookmarkLists %}
                    {{ component('bookmark_list', { subject: comment, subjectType: 'post_comment', list: list }) }}
                {% endfor %}
            {% endif %}
        {% endif %}

        <li class="dropdown__separator"></li>
        <li>
            <a target="_blank"
                rel="{{ get_rel(comment.apId ?? path('ap_post_comment', {magazine_name: comment.magazine.name, post_id: comment.post.id, comment_id: comment.id})) }}"
                href="{{ comment.apId ?? path('ap_post_comment', {magazine_name: comment.magazine.name, post_id: comment.post.id, comment_id: comment.id}) }}">
                {{ 'open_url_to_fediverse'|trans }}
            </a>
        </li>
        <li>
            <a data-action="clipboard#copy"
                rel="{{ get_rel(comment.apId ?? path('ap_post_comment', {magazine_name: comment.magazine.name, post_id: comment.post.id, comment_id: comment.id})) }}"
                href="{{ comment.apId ?? path('ap_post_comment', {magazine_name: comment.magazine.name, post_id: comment.post.id, comment_id: comment.id}) }}">
                {{ 'copy_url_to_fediverse'|trans }}
            </a>
        </li>
        <li>
            <a data-action="clipboard#copy"
                href="{{ post_url(comment.post) }}#{{ get_url_fragment(comment) }}">
                {{ 'copy_url'|trans }}
            </a>
        </li>
        {% if is_granted('edit', comment) or (app.user and comment.isAuthor(app.user)) or is_granted('moderate', comment) %}
            <li class="dropdown__separator"></li>
        {% endif %}
        {% if is_granted('edit', comment) %}
            <li>
                <a href="{{ post_comment_edit_url(comment) }}"
                    class="{{ html_classes({'active': is_route_name('post_comment_edit')}) }}"
                    data-action="subject#getForm">
                    {{ 'edit'|trans }}
                </a>
            </li>
        {% endif %}
        {% if app.user and comment.isAuthor(app.user) %}
            <li>
                <form method="post"
                      action="{{ post_comment_delete_url(comment) }}"
                      data-action="confirmation#ask" data-confirmation-message-param="{{ 'are_you_sure'|trans }}">
                    <input type="hidden" name="token"
                            value="{{ csrf_token('post_comment_delete') }}">
                    <button type="submit">{{ 'delete'|trans }}</button>
                </form>
            </li>
        {% endif %}
        {% if is_granted('moderate', comment) %}
            <li>
                <a href="{{ post_comment_moderate_url(comment) }}"
                    class="{{ html_classes({'active': is_route_name('post_comment_moderate')}) }}"
                    data-action="subject#showModPanel">
                    {{ 'moderate'|trans }}
                </a>
            </li>
        {% endif %}
    </ul>
</li>
