{% block log_entry_deleted %}
    {{ component('user_inline', {user: log.user, showAvatar: showAvatars, showNewIcon: showNewIcons}) }} {{ 'removed_thread_by'|trans|lower }} {{ component('user_inline', {user: log.entry.user, showAvatar: showAvatars, showNewIcon: showNewIcons}) }}{% if showMagazine %} {{ 'in'|trans|lower }} {{ component('magazine_inline', {magazine: log.entry.magazine, showAvatar: showIcons, showNewIcon: showNewIcons}) }}{% endif %} -
    <a href="{{ entry_url(log.entry) }}">{{ log.entry.shortTitle(300) }}</a>
{% endblock %}

{% block log_entry_restored %}
    {{ component('user_inline', {user: log.user, showAvatar: showAvatars, showNewIcon: showNewIcons}) }} {{ 'restored_thread_by'|trans|lower }} {{ component('user_inline', {user: log.entry.user, showAvatar: showAvatars, showNewIcon: showNewIcons}) }}{% if showMagazine %} {{ 'in'|trans|lower }} {{ component('magazine_inline', {magazine: log.entry.magazine, showAvatar: showIcons, showNewIcon: showNewIcons}) }}{% endif %} -
    <a href="{{ entry_url(log.entry) }}">{{ log.entry.shortTitle(300) }}</a>
{% endblock %}

{% block log_entry_comment_deleted %}
    {{ component('user_inline', {user: log.user, showAvatar: showAvatars, showNewIcon: showNewIcons}) }} {{ 'removed_comment_by'|trans|lower }} {{ component('user_inline', {user: log.comment.user, showAvatar: showAvatars, showNewIcon: showNewIcons}) }}{% if showMagazine %} {{ 'in'|trans|lower }} {{ component('magazine_inline', {magazine: log.comment.magazine, showAvatar: showIcons, showNewIcon: showNewIcons}) }}{% endif %} -
    <a href="{{ entry_comment_view_url(log.comment) }}#{{ get_url_fragment(log.comment) }}">{{ log.comment.shortTitle(300) }}</a>
{% endblock %}

{% block log_entry_comment_restored %}
    {{ component('user_inline', {user: log.user, showAvatar: showAvatars, showNewIcon: showNewIcons}) }} {{ 'restored_comment_by'|trans|lower }} {{ component('user_inline', {user: log.comment.user, showAvatar: showAvatars, showNewIcon: showNewIcons}) }}{% if showMagazine %} {{ 'in'|trans|lower }} {{ component('magazine_inline', {magazine: log.comment.magazine, showAvatar: showIcons, showNewIcon: showNewIcons}) }}{% endif %} -
    <a href="{{ entry_comment_view_url(log.comment) }}#{{ get_url_fragment(log.comment) }}">{{ log.comment.shortTitle(300) }}</a>
{% endblock %}

{% block log_post_deleted %}
    {{ component('user_inline', {user: log.user, showAvatar: showAvatars, showNewIcon: showNewIcons}) }} {{ 'removed_post_by'|trans|lower }} {{ component('user_inline', {user: log.post.user, showAvatar: showAvatars, showNewIcon: showNewIcons}) }}{% if showMagazine %} {{ 'in'|trans|lower }} {{ component('magazine_inline', {magazine: log.post.magazine, showAvatar: showIcons, showNewIcon: showNewIcons}) }}{% endif %} -
    <a href="{{ post_url(log.post) }}">{{ log.post.shortTitle(300) }}</a>
{% endblock %}

{% block log_post_restored %}
    {{ component('user_inline', {user: log.user, showAvatar: showAvatars, showNewIcon: showNewIcons}) }} {{ 'restored_post_by'|trans|lower }} {{ component('user_inline', {user: log.post.user, showAvatar: showAvatars, showNewIcon: showNewIcons}) }}{% if showMagazine %} {{ 'in'|trans|lower }} {{ component('magazine_inline', {magazine: log.post.magazine, showAvatar: showIcons, showNewIcon: showNewIcons}) }}{% endif %} -
    <a href="{{ post_url(log.post) }}">{{ log.post.shortTitle(300) }}</a>
{% endblock %}

{% block log_post_comment_deleted %}
    {{ component('user_inline', {user: log.user, showAvatar: showAvatars, showNewIcon: showNewIcons}) }} {{ 'removed_comment_by'|trans|lower }} {{ component('user_inline', {user: log.comment.user, showAvatar: showAvatars, showNewIcon: showNewIcons}) }}{% if showMagazine %} {{ 'in'|trans|lower }} {{ component('magazine_inline', {magazine: log.comment.magazine, showAvatar: showIcons, showNewIcon: showNewIcons}) }}{% endif %} -
    <a href="{{ post_url(log.comment.post) }}#{{ get_url_fragment(log.comment) }}">{{ log.comment.shortTitle(300) }}</a>
{% endblock %}

{% block log_post_comment_restored %}
    {{ component('user_inline', {user: log.user, showAvatar: showAvatars, showNewIcon: showNewIcons}) }} {{ 'restored_comment_by'|trans|lower }} {{ component('user_inline', {user: log.comment.user, showAvatar: showAvatars, showNewIcon: showNewIcons}) }}{% if showMagazine %} {{ 'in'|trans|lower }} {{ component('magazine_inline', {magazine: log.comment.magazine, showAvatar: showIcons, showNewIcon: showNewIcons}) }}{% endif %} -
    <a href="{{ post_url(log.comment.post) }}#{{ get_url_fragment(log.comment) }}">{{ log.comment.shortTitle(300) }}</a>
{% endblock %}

{% block log_ban %}
    {{ component('user_inline', {user: log.user, showAvatar: showAvatars, showNewIcon: showNewIcons}) }}
    {% if log.meta is same as 'ban' %}
        {{ 'he_banned'|trans|lower }}
    {% else %}
        {{ 'he_unbanned'|trans|lower }}
    {% endif %}
    {{ component('user_inline', {user: log.ban.user, showAvatar: showAvatars, showNewIcon: showNewIcons}) }}
    {% if showMagazine %} {{ 'in'|trans|lower }} {{ component('magazine_inline', {magazine: log.ban.magazine, showAvatar: showIcons, showNewIcon: showNewIcons}) }}{% endif %}{% if log.ban.reason %} - {{ log.ban.reason }}{% endif %}
{% endblock %}

{% block log_moderator_add %}
    {% if log.actingUser is not same as null %}
        {{ component('user_inline', {user: log.actingUser, showAvatar: showAvatars, showNewIcon: showNewIcons}) }}
    {% else %}
        {{ 'someone'|trans }}
    {% endif %}
    {{ 'magazine_log_mod_added'|trans -}}
    {% if showMagazine %} {{ 'in'|trans|lower }} {{ component('magazine_inline', {magazine: log.magazine, showAvatar: showIcons, showNewIcon: showNewIcons}) -}}{%- endif -%}: {{ component('user_inline', {user: log.user, showAvatar: showAvatars, showNewIcon: showNewIcons}) }}
{% endblock %}

{% block log_moderator_remove %}
    {% if log.actingUser is not same as null %}
        {{ component('user_inline', {user: log.actingUser, showAvatar: showAvatars, showNewIcon: showNewIcons}) }}
    {% else %}
        {{ 'someone'|trans }}
    {% endif %}
    {{ 'magazine_log_mod_removed'|trans -}}
    {% if showMagazine %} {{ 'from'|trans|lower }} {{ component('magazine_inline', {magazine: log.magazine, showAvatar: showIcons, showNewIcon: showNewIcons}) -}}{%- endif -%}: {{ component('user_inline', {user: log.user, showAvatar: showAvatars, showNewIcon: showNewIcons}) }}
{% endblock %}

{% block log_entry_pinned %}
    {% if log.actingUser is not same as null %}
        {{ component('user_inline', {user: log.actingUser, showAvatar: showAvatars, showNewIcon: showNewIcons}) }}
    {% else %}
        {{ 'someone'|trans }}
    {% endif %}
    {{ 'magazine_log_entry_pinned'|trans }}
    <a href="{{ entry_url(log.entry) }}">{{ log.entry.shortTitle(300) }}</a>
    {% if showMagazine %} {{ 'in'|trans|lower }} {{ component('magazine_inline', {magazine: log.magazine, showAvatar: showIcons, showNewIcon: showNewIcons}) -}}{%- endif -%}
{% endblock %}

{% block log_entry_unpinned %}
    {% if log.actingUser is not same as null %}
        {{ component('user_inline', {user: log.actingUser, showAvatar: showAvatars, showNewIcon: showNewIcons}) }}
    {% else %}
        {{ 'someone'|trans }}
    {% endif %}
    {{ 'magazine_log_entry_unpinned'|trans }}
    <a href="{{ entry_url(log.entry) }}">{{ log.entry.shortTitle(300) }}</a>
    {% if showMagazine %} {{ 'in'|trans|lower }} {{ component('magazine_inline', {magazine: log.magazine, showAvatar: showIcons, showNewIcon: showNewIcons}) -}}{%- endif -%}
{% endblock %}
