{% extends 'base.html.twig' %}
{% set V_TRUE = constant('App\\Controller\\User\\ThemeSettingsController::TRUE') %}
{% set MBIN_MODERATION_LOG_SHOW_USER_AVATARS = constant('App\\Controller\\User\\ThemeSettingsController::MBIN_MODERATION_LOG_SHOW_USER_AVATARS') %}
{% set showAvatars = app.request.cookies.get(MBIN_MODERATION_LOG_SHOW_USER_AVATARS) is same as V_TRUE %}
{% set MBIN_MODERATION_LOG_SHOW_MAGAZINE_ICONS = constant('App\\Controller\\User\\ThemeSettingsController::MBIN_MODERATION_LOG_SHOW_MAGAZINE_ICONS') %}
{% set showIcons = app.request.cookies.get(MBIN_MODERATION_LOG_SHOW_MAGAZINE_ICONS) is same as V_TRUE %}
{% use 'modlog/_blocks.html.twig' %}

{%- block title -%}
    {{- 'magazines'|trans }} - {{ parent() -}}
{%- endblock -%}

{% block mainClass %}page-magazines page-modlog{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    <h1>{{ 'mod_log'|trans }}</h1>
    <div class="alert alert__danger">
        <p>{{ 'mod_log_alert'|trans }}</p>
    </div>
    {% for log in logs %}
        <div class="section section--small log">
            <div>
                {%- with {
                    log: log,
                    showMagazine: false,
                    showAvatars: showAvatars,
                    showIcons: showIcons,
                } only -%}
                    {{ block(log.type) }}
                {%- endwith -%}
            </div>
            <span>{{ component('date', {date: log.createdAt}) }}</span>
        </div>
    {% endfor %}
    {% if(logs.haveToPaginate is defined and logs.haveToPaginate) %}
        {{ pagerfanta(logs, null, {'pageParameter':'[p]'}) }}
    {% endif %}
    {% if not logs|length %}
        <aside class="section section--muted">
            <p>{{ 'empty'|trans }}</p>
        </aside>
    {% endif %}
{% endblock %}
