{%- set STATUS_PENDING = constant('App\\Entity\\Report::STATUS_PENDING') -%}
<aside class="{{ html_classes('options options--top') }}" id="options">
    <div></div>
    <menu class="options__main">
        <li>
            <a href="{{ path('user_settings_general') }}"
               class="{{ html_classes({'active': is_route_name('user_settings_general')}) }}">
                {{ 'general'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('user_settings_profile') }}"
               class="{{ html_classes({'active': is_route_name('user_settings_profile')}) }}">
                {{ 'profile'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('user_settings_email') }}"
               class="{{ html_classes({'active': is_route_name('user_settings_email')}) }}">
                {{ 'email'|trans }}
            </a>
        </li>
        {% if not app.user.SsoControlled() %}
        <li>
            <a href="{{ path('user_settings_password') }}"
               class="{{ html_classes({'active': is_route_name('user_settings_password') or is_route_name_starts_with('user_settings_2fa')}) }}">
                {{ 'password_and_2fa'|trans }}
            </a>
        </li>
        {% endif %}
        {% if app.user.admin is not same as true %}
            <li>
                <a href="{{ path('user_settings_account_deletion') }}"
                   class="{{ html_classes({'active': is_route_name('user_settings_account_deletion')}) }}">
                    {{ 'account_deletion_title'|trans }}
                </a>
            </li>
        {% endif %}
        <li>
            <a href="{{ path('user_settings_magazine_blocks') }}"
               class="{{ html_classes({'active': is_route_name_contains('_blocks')}) }}">
                {{ 'blocked'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('user_settings_magazine_subscriptions') }}"
               class="{{ html_classes({'active': is_route_name_contains('_subscriptions')}) }}">
                {{ 'subscriptions'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('user_settings_reports', {status: STATUS_PENDING}) }}"
               class="{{ html_classes({'active': is_route_name('user_settings_reports')}) }}">
                {{ 'reports'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('user_settings_stats') }}"
               class="{{ html_classes({'active': is_route_name('user_settings_stats')}) }}">
                {{ 'stats'|trans }}
            </a>
        </li>
    </menu>
</aside>
