{% extends 'base.html.twig' %}

{%- block title -%}
    {{- 'password'|trans }} - {{ app.user.username|username(false) }} - {{ parent() -}}
{%- endblock -%}


{% block mainClass %}page-settings page-settings-password{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    {% include('user/settings/_options.html.twig') %}
    {% include('user/_visibility_info.html.twig') %}
    {% include 'layout/_flash.html.twig' %}
    <div id="content" class="section">
        <div class="container">
            <h1 hidden>{{ 'password_and_2fa'|trans }}</h1>
            <h2>{{ 'change_password'|trans }}</h2>
            {{ form_start(form) }}
            {{ form_row(form.currentPassword) }}
            <div class="{{ html_classes({ "hidden": not has2fa }) }}">
                {{ form_row(form.totpCode, {required: has2fa}) }}
            </div>
            {{ form_row(form.plainPassword) }}
            <div class="row actions">
                {{ form_row(form.submit, {label: 'save', attr: {class: 'btn btn__primary'}}) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="section">
        <div class="container">
            <h2>{{ 'two_factor_authentication'|trans }}</h2>
                {% if has2fa %}

                    {{ form_start(disable2faForm, {action: path('user_settings_2fa_disable'), attr: {'data-action': "confirmation#ask", 'data-confirmation-message-param': 'are_you_sure'|trans}}) }}
                    {{ form_row(disable2faForm.currentPassword) }}
                    {{ form_row(disable2faForm.totpCode, {required: has2fa}) }}
                    <div class="row actions">
                        {{ form_row(disable2faForm.submit, {label: '2fa.disable', attr: {class: 'btn btn__primary'}}) }}
                    </div>
                    {{ form_end(disable2faForm) }}

                    <p id="backup-create-help" class="mt-4">{{ '2fa.backup-create.help' | trans }}</p>

                    {{ form_start(regenerateBackupCodes, {action: path('user_settings_2fa_backup'), attr: {'data-action': "confirmation#ask", 'data-confirmation-message-param': 'are_you_sure'|trans}}) }}
                    {{ form_row(regenerateBackupCodes.currentPassword) }}
                    {{ form_row(regenerateBackupCodes.totpCode, {required: has2fa}) }}
                    <div class="row actions">
                        {{ form_row(regenerateBackupCodes.submit, {label: '2fa.backup-create.label', attr: {class: 'btn btn__primary'}}) }}
                    </div>
                    {{ form_end(regenerateBackupCodes) }}
                {% else %}
                    <div class="row params__left">
                        <a href="{{ path('user_settings_2fa') }}" class="btn btn__primary" role="button">{{ '2fa.enable'|trans }}</a>
                    </div>
                {% endif %}
        </div>
    </div>
{% endblock %}
