{%- set TYPE_GENERAL = constant('App\\Repository\\StatsRepository::TYPE_GENERAL') -%}
{%- set TYPE_CONTENT = constant('App\\Repository\\StatsRepository::TYPE_CONTENT') -%}
{%- set TYPE_VOTES = constant('App\\Repository\\StatsRepository::TYPE_VOTES') -%}
{%- set STATUS_PENDING = constant('App\\Entity\\Report::STATUS_PENDING') -%}
<aside class="options options--top" id="options">
    <div></div>
    <menu class="options__main">
        <li>
            <a href="{{ path('admin_dashboard') }}"
               class="{{ html_classes({'active': is_route_name('admin_dashboard')}) }}">
                {{ 'dashboard'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('admin_settings') }}"
               class="{{ html_classes({'active': is_route_name('admin_settings')}) }}">
                {{ 'settings'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('admin_users_active') }}"
               class="{{ html_classes({'active': is_route_name('admin_users_active') or is_route_name('admin_users_inactive') or is_route_name('admin_users_suspended') or is_route_name('admin_users_banned')}) }}">
                {{ 'users'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('admin_reports', {status: STATUS_PENDING}) }}"
               class="{{ html_classes({'active': is_route_name('admin_reports')}) }}">
                {{ 'reports'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('admin_moderators') }}"
               class="{{ html_classes({'active': is_route_name('admin_moderators')}) }}">
                {{ 'moderators'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('admin_magazine_ownership_requests') }}"
               class="{{ html_classes({'active': is_route_name('admin_magazine_ownership_requests') }) }}">
                {{ 'ownership_requests'|trans }}
            </a>
        </li>
        {% if do_new_users_need_approval() %}
            <li>
                <a href="{{ path('admin_signup_requests') }}"
                   class="{{ html_classes({'active': is_route_name('admin_signup_requests') }) }}">
                    {{ 'signup_requests'|trans }}
                </a>
            </li>
        {% endif %}
        <li>
            <a href="{{ path('admin_pages', {page: 'announcement'}) }}"
               class="{{ html_classes({'active': is_route_name('admin_pages')}) }}">
                {{ 'pages'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('admin_federation') }}"
               class="{{ html_classes({'active': is_route_name('admin_federation')}) }}">
                {{ 'federation'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('admin_deletion_users') }}"
               class="{{ html_classes({'active': is_route_name('admin_deletion_users') or is_route_name('admin_deletion_magazines')}) }}">
                {{ 'deletion'|trans }}
            </a>
        </li>
    </menu>
</aside>
