<div class="pills">
    <menu>
        <li>
            <a href="{{ path('admin_users_active') }}"
                class="{{ html_classes({'active': is_route_name('admin_users_active')}) }}">
                {{ 'admin_users_active'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('admin_users_inactive') }}"
                class="{{ html_classes({'active': is_route_name('admin_users_inactive')}) }}">
                {{ 'admin_users_inactive'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('admin_users_suspended') }}"
                class="{{ html_classes({'active': is_route_name('admin_users_suspended')}) }}">
                {{ 'admin_users_suspended'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('admin_users_banned') }}"
                class="{{ html_classes({'active': is_route_name('admin_users_banned')}) }}">
                {{ 'admin_users_banned'|trans }}
            </a>
        </li>
    </menu>
</div>