{% extends 'base.html.twig' %}

{%- block title -%}
    {{- 'settings'|trans }} - {{ parent() -}}
{%- endblock -%}

{% block mainClass %}page-admin-settings page-settings{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    {% include 'admin/_options.html.twig' %}
    <div class="section" id="content">
        <div class="container">
            <h1 hidden>{{ 'settings'|trans }}</h1>
            {{ form_start(form) }}
            <h2>{{ 'general'|trans }}</h2>
            {{ form_row(form.KBIN_DOMAIN, {label: 'domain'}) }}
            {{ form_row(form.KBIN_CONTACT_EMAIL, {label: 'contact_email'}) }}
            <div class="select-flex">
                {{ form_label(form.MBIN_DEFAULT_THEME, 'default_theme') }}
                {{ form_widget(form.MBIN_DEFAULT_THEME, {attr: {'aria-label': 'change_theme'|trans}}) }}
            </div>
            <h2>{{ 'meta'|trans }}</h2>
            {{ form_row(form.KBIN_META_TITLE, {label: 'title'}) }}
            {{ form_row(form.KBIN_META_DESCRIPTION, {label: 'description'}) }}
            {{ form_row(form.KBIN_META_KEYWORDS, {label: 'keywords'}) }}
            <h2>{{ 'instance'|trans }}</h2>
            {{ form_row(form.KBIN_TITLE, {label: 'title'}) }}
            <div class="select-flex">
                {{ form_label(form.MBIN_DOWNVOTES_MODE, 'downvotes_mode') }}
                {{ form_widget(form.MBIN_DOWNVOTES_MODE, {attr: {'aria-label': 'change_downvotes_mode'|trans}}) }}
            </div>
            <div class="checkbox">
                {{ form_label(form.KBIN_HEADER_LOGO, 'header_logo') }}
                {{ form_widget(form.KBIN_HEADER_LOGO) }}
            </div>
            <div class="checkbox">
                {{ form_label(form.KBIN_REGISTRATIONS_ENABLED, 'registrations_enabled') }}
                {{ form_widget(form.KBIN_REGISTRATIONS_ENABLED) }}
            </div>
            <div class="checkbox">
                {{ form_label(form.MBIN_SSO_REGISTRATIONS_ENABLED, 'sso_registrations_enabled') }}
                {{ form_widget(form.MBIN_SSO_REGISTRATIONS_ENABLED) }}
            </div>
            <div class="checkbox">
                {{ form_label(form.MBIN_SSO_ONLY_MODE, 'sso_only_mode') }}
                {{ form_widget(form.MBIN_SSO_ONLY_MODE) }}
            </div>
            <div class="checkbox">
                {{ form_label(form.KBIN_CAPTCHA_ENABLED, 'captcha_enabled') }}
                {{ form_widget(form.KBIN_CAPTCHA_ENABLED) }}
            </div>
            <div class="checkbox">
                {{ form_label(form.KBIN_MERCURE_ENABLED, 'mercure_enabled') }}
                {{ form_widget(form.KBIN_MERCURE_ENABLED) }}
            </div>
            <div class="checkbox">
                {{ form_label(form.KBIN_ADMIN_ONLY_OAUTH_CLIENTS, 'restrict_oauth_clients') }}
                {{ form_widget(form.KBIN_ADMIN_ONLY_OAUTH_CLIENTS) }}
            </div>
            <div class="checkbox">
                {{ form_label(form.MBIN_PRIVATE_INSTANCE, 'private_instance') }}
                {{ form_widget(form.MBIN_PRIVATE_INSTANCE) }}
            </div>
            <div class="checkbox">
                {{ form_label(form.KBIN_FEDERATED_SEARCH_ONLY_LOGGEDIN, 'federated_search_only_loggedin') }}
                {{ form_widget(form.KBIN_FEDERATED_SEARCH_ONLY_LOGGEDIN) }}
            </div>
            <div class="checkbox">
                {{ form_label(form.MBIN_SIDEBAR_SECTIONS_LOCAL_ONLY, 'sidebar_sections_local_only') }}
                {{ form_widget(form.MBIN_SIDEBAR_SECTIONS_LOCAL_ONLY) }}
            </div>
            <div class="checkbox">
                {{ form_label(form.MBIN_RESTRICT_MAGAZINE_CREATION, 'restrict_magazine_creation') }}
                {{ form_widget(form.MBIN_RESTRICT_MAGAZINE_CREATION) }}
            </div>
            <div class="checkbox">
                {{ form_label(form.MBIN_SSO_SHOW_FIRST, 'sso_show_first') }}
                {{ form_widget(form.MBIN_SSO_SHOW_FIRST) }}
            </div>
            <div class="checkbox">
                {{ form_label(form.MBIN_NEW_USERS_NEED_APPROVAL, 'new_users_need_approval') }}
                {{ form_widget(form.MBIN_NEW_USERS_NEED_APPROVAL) }}
            </div>
            <div class="row actions">
                {{ form_row(form.submit, {label: 'save', attr: {class: 'btn btn__primary'}}) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
