<aside class="options options--top options-activity">
    <div class="options__title">
        <h2>{{ 'add_new'|trans }}</h2>
    </div>
    <menu class="options__main">
        {% if magazine is defined and magazine %}
            <li>
                <a href="{{ path('magazine_entry_create', {name: magazine.name}) }}"
                   class="{{ html_classes({'active': is_route_name('magazine_entry_create')}) }}">
                    {{ 'type.article'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('magazine_posts', {name: magazine.name}) }}">
                    {{ 'post'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('magazine_create') }}"
                   class="{{ html_classes({'active': is_route_name('magazine_create')}) }}">
                    {{ 'type.magazine'|trans }}
                </a>
            </li>
        {% else %}
            <li>
                <a href="{{ path('entry_create', {type: 'article'}) }}"
                   class="{{ html_classes({'active': is_route_name('entry_create')}) }}">
                    {{ 'type.article'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('posts_front') }}">
                    {{ 'post'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('magazine_create') }}"
                   class="{{ html_classes({'active': is_route_name('magazine_create')}) }}">
                    {{ 'type.magazine'|trans }}
                </a>
            </li>
        {% endif %}
    </menu>
</aside>
