<aside class="options options--top options-activity">
    <div class="options__title">
        <h2>{{ 'add_new'|trans }}</h2>
    </div>
    <menu class="options__main">
        {% if magazine is defined and magazine %}
             <li>
                <a href="{{ path('magazine_entry_create', {name: magazine.name}) }}"
                   class="{{ html_classes({'active': route_has_param('type', 'link')}) }}">
                    {{ 'type.link'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('magazine_entry_create', {name: magazine.name, type: 'thread'}) }}"
                   class="{{ html_classes({'active': route_has_param('type', 'thread')}) }}">
                    {{ 'type.thread'|trans }}
                </a>
            </li>  
            <li>
                <a href="{{ path('magazine_entry_create', {name: magazine.name, type: 'photo'}) }}"
                   class="{{ html_classes({'active': route_has_param('type', 'photo')}) }}">
                    {{ 'type.photo'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('magazine_create') }}"
                   class="{{ html_classes({'active': is_route_name('magazine_create')}) }}">
                    {{ 'type.magazine'|trans }}
                </a>
            </li>
        {% else %}
            <li>
                <a href="{{ path('entry_create') }}"
                   class="{{ html_classes({'active': route_has_param('type', 'link')}) }}">
                    {{ 'type.link'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('entry_create', {type: 'thread'}) }}"
                   class="{{ html_classes({'active': route_has_param('type', 'thread')}) }}">
                    {{ 'type.thread'|trans }}
                </a>
            </li>    
            <li>
                <a href="{{ path('entry_create', {type: 'photo'}) }}"
                   class="{{ html_classes({'active': route_has_param('type', 'photo')}) }}">
                    {{ 'type.photo'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('posts_front') }}">
                    {{ 'post'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('magazine_create') }}"
                   class="{{ html_classes({'active': is_route_name('magazine_create')}) }}">
                    {{ 'type.magazine'|trans }}
                </a>
            </li>
        {% endif %}
    </menu>
</aside>