{% form_theme form.lang 'form/lang_select.html.twig' %}

{{ form_start(form, {attr: {class: 'entry_edit'}}) }}

    <div>
        {% set label %}
            URL
            <div data-entry-link-create-target='loader' class="loader small" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        {% endset %}
        {{ form_label(form.url, label, {'label_html': true}) }}
        {{ form_errors(form.url) }}
        {{ form_widget(form.url, {attr: {'data-action': 'entry-link-create#fetchLink', 'data-entry-link-create-target': 'url'}}) }}
    </div>

    {{ form_row(form.title, {
        label: 'title', attr: {
            'data-controller' : "input-length autogrow",
            'data-entry-link-create-target': 'title',
            'data-action' : 'input-length#updateDisplay',
            'data-input-length-max-value' : constant('App\\Entity\\Entry::MAX_TITLE_LENGTH')
        }}) }}
    {{ component('editor_toolbar', {id: 'entry_edit_body'}) }}
    {{ form_row(form.body, {
        label: false, attr: {
            placeholder: 'body',
            'data-controller': 'rich-textarea input-length autogrow',
            'data-entry-link-create-target': 'description',
            'data-action' : 'input-length#updateDisplay',
            'data-input-length-max-value' : constant('App\\Entity\\Entry::MAX_BODY_LENGTH')
        }}) }}
    {{ form_row(form.magazine, {label: false}) }}
    {{ form_row(form.tags, {label: 'tags'}) }}
    {# form_row(form.badges, {label: 'badges'}) #}
<div class="row params">
    {{ form_row(form.isAdult, {label: 'is_adult', row_attr: {class: 'checkbox'}}) }}
    {{ form_row(form.isOc, {label: 'oc', row_attr: {class: 'checkbox'}}) }}
</div>
<div class="row actions">
    <ul>
        {% if entry.image is not same as null %}
            <img width="40"
                 height="40"
                 src="{{ entry.image.filePath ? (asset(entry.image.filePath)|imagine_filter('entry_thumb')) : entry.image.sourceUrl }}"
                 alt="{{ entry.image.altText }}">
            <button formaction="{{ path('entry_image_delete', {magazine_name: entry.magazine.name, entry_id: entry.id}) }}"
                    class="btn-link"
                    aria-label="{{ 'remove_media'|trans }}"
                    title="{{ 'remove_media'|trans }}"
                    data-action="confirmation#ask" data-confirmation-message-param="{{ 'are_you_sure'|trans }}">
                <i class="fa-solid fa-xmark" aria-hidden="true"></i>
            </button>
        {% endif %}
        <li class="{{ html_classes('dropdown') }}">
            <button type="button"
                    class="btn btn__secondary"
                    aria-label="{{ 'add_media'|trans }}"
                    title="{{ 'add_media'|trans }}">
                <i class="fa-solid fa-photo-film" aria-hidden="true"></i>
            </button>
            <div class="dropdown__menu">
                {% include 'layout/_form_media.html.twig' %}
            </div>
        </li>
        <li class="select">
            {{ form_row(form.lang, {label: false}) }}
        </li>
        <li>
            {{ form_row(form.submit, {label: 'edit_entry', attr: {class: 'btn btn__primary'}}) }}
        </li>
    </ul>
</div>
{{ form_end(form) }}
