<li class="dropdown">
  <button class="stretched-link" data-subject-target="more">{{ 'more'|trans }}</button>
  <ul class="dropdown__menu" data-controller="clipboard">
    <li>
      <a href="{{ path('entry_report', {id: entry.id}) }}"
        class="{{ html_classes({'active': is_route_name('entry_report')}) }}" data-action="subject#getForm">
        {{ 'report'|trans }}
      </a>
    </li>
    <li>
      <a href="{{ path('entry_crosspost', {id: entry.id}) }}">
        {{ 'crosspost'|trans }}
      </a>
    </li>
    <li>
      <a href="{{ entry_voters_url(entry, 'up') }}"
        class="{{ html_classes({'active': is_route_name('entry_fav') or is_route_name('entry_voters')}) }}">
        {{ 'activity'|trans }}
      </a>
    </li>

    {% if entry.domain %}
    <li>
      <a href="{{ path('domain_entries', {name: entry.domain.name}) }}">{{ 'more_from_domain'|trans }}</a>
    </li>
    {% endif %}

    {% if app.user is defined and app.user is not same as null %}
        {% set bookmarkLists = get_bookmark_lists(app.user) %}
        {% if bookmarkLists|length %}
            <li class="dropdown__separator"></li>
            {{ component('bookmark_menu_list', { bookmarkLists: bookmarkLists, subject: entry }) }}
        {% endif %}
    {% endif %}

    <li class="dropdown__separator"></li>
    <li>
      <a target="_blank"
        rel="{{ get_rel(entry.apId ?? path('ap_entry', {magazine_name: entry.magazine.name, entry_id: entry.id})) }}"
        href="{{ entry.apId ?? path('ap_entry', {magazine_name: entry.magazine.name, entry_id: entry.id}) }}">
        {{ 'open_url_to_fediverse'|trans }}
      </a>
    </li>
    <li>
      <a data-action="clipboard#copy"
        rel="{{ get_rel(entry.apId ?? path('ap_entry', {magazine_name: entry.magazine.name, entry_id: entry.id})) }}"
        href="{{ entry.apId ?? path('ap_entry', {magazine_name: entry.magazine.name, entry_id: entry.id}) }}">
        {{ 'copy_url_to_fediverse'|trans }}
      </a>
    </li>
    <li>
      <a data-action="clipboard#copy" href="{{ entry_url(entry) }}">{{ 'copy_url'|trans }}</a>
    </li>

    {% if is_granted('edit', entry) or (app.user and entry.isAuthor(app.user)) or is_granted('moderate', entry) %}
    <li class="dropdown__separator"></li>
    {% endif %}
    {% if is_granted('edit', entry) %}
    <li>
      <a href="{{ entry_edit_url(entry) }}" class="{{ html_classes({'active': is_route_name('entry_edit')}) }}">
        {{ 'edit'|trans }}
      </a>
    </li>
    {% endif %}
    {% if app.user and entry.isAuthor(app.user) %}
    <li>
      <form method="post" action="{{ entry_delete_url(entry) }}" data-action="confirmation#ask"
        data-confirmation-message-param="{{ 'are_you_sure'|trans }}">
        <input type="hidden" name="token" value="{{ csrf_token('entry_delete') }}">
        <button type="submit">{{ 'delete'|trans }}</button>
      </form>
    </li>
    {% endif %}
    {% if is_granted('lock', entry) %}
      <li>
        <form method="post" action="{{ path('entry_lock', {'magazine_name': entry.magazine.name, 'entry_id': entry.id, 'slug': entry.slug}) }}" data-action="confirmation#ask"
          data-confirmation-message-param="{{ 'are_you_sure'|trans }}">
          <input type="hidden" name="token" value="{{ csrf_token('entry_lock') }}">
          {% if entry.isLocked %}
            <button type="submit"><i class="fa fa-lock-open" aria-hidden="true" style="margin-right: .5em;"></i>{{ 'unlock'|trans }}</button>
          {% else %}
            <button type="submit"><i class="fa fa-lock" aria-hidden="true" style="margin-right: .5em;"></i>{{ 'lock'|trans }}</button>
          {% endif %}
        </form>
      </li>
    {% endif %}
    {% if is_granted('moderate', entry) %}
    <li>
      <a href="{{ entry_moderate_url(entry) }}" class="{{ html_classes({'active': is_route_name('entry_moderate')}) }}"
        data-action="subject#showModPanel">
        {{ 'moderate'|trans }}
      </a>
    </li>
    {% endif %}
  </ul>
</li>
