<div class="moderate-panel">
    <menu>
        <li>
            <form action="{{ path('entry_pin', {'magazine_name': entry.magazine.name, 'entry_id': entry.id}) }}"
                  method="post">
                <input type="hidden" name="token" value="{{ csrf_token('entry_pin') }}">
                <button type="submit" class="btn btn__secondary">
                    <i class="fa fa-thumbtack" aria-hidden="true"></i> <span>{{ entry.sticky ? 'unpin'|trans : 'pin'|trans }}</span>
                </button>
            </form>
        </li>
        <li>
            <form action="{{ path('entry_lock', {'magazine_name': entry.magazine.name, 'entry_id': entry.id}) }}"
                  method="post">
                <input type="hidden" name="token" value="{{ csrf_token('entry_lock') }}">
                <button type="submit" class="btn btn__secondary">
                    {% if entry.isLocked %}
                        <i class="fa fa-lock-open" aria-hidden="true"></i>
                    {% else %}
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    {% endif %}
                    <span>{{ entry.isLocked ? 'unlock'|trans : 'lock'|trans }}</span>
                </button>
            </form>
        </li>
        <li>
            <form action="{{ path('entry_change_adult', {magazine_name: magazine.name, entry_id: entry.id}) }}"
                  method="post">
                <input type="hidden" name="token" value="{{ csrf_token('change_adult') }}">
                <input name="adult"
                       type="hidden" value="{{ entry.isAdult ? 'off' : 'on' }}">
                <button type="submit" class="btn btn__secondary">
                    <i class="fa fa-{{ entry.isAdult ? 'eye' : 'eye-slash' }}" aria-hidden="true"></i> <span>{{ entry.isAdult ? 'unmark_as_adult'|trans : 'mark_as_adult'|trans }}</span>
                </button>
            </form>
        </li>
        <li>
            <form action="{{ path('magazine_panel_ban', {'name': entry.magazine.name, 'username': entry.user.username}) }}"
                  method="get">
                <button type="submit" class="btn btn__secondary">
                    <i class="fa fa-ban" aria-hidden="true"></i> <span>{{ 'ban'|trans }}</span>
                </button>
            </form>
        </li>
        <li>
            <form action="{{ entry_delete_url(entry) }}"
                  method="post"
                  data-action="confirmation#ask" data-confirmation-message-param="{{ 'are_you_sure'|trans }}">
                <input type="hidden" name="token" value="{{ csrf_token('entry_delete') }}">
                <button type="submit" class="btn btn__secondary">
                    <i class="fa fa-dumpster" aria-hidden="true"></i> <span>{{ 'delete'|trans }}</span>
                </button>
            </form>
        </li>
        {% if is_granted('purge', entry) %}
            <li>
                <form action="{{ path('entry_purge', {magazine_name: entry.magazine.name,entry_id: entry.id,}) }}"
                      method="post"
                      data-action="confirmation#ask" data-confirmation-message-param="{{ 'are_you_sure'|trans }}">
                    <input type="hidden" name="token" value="{{ csrf_token('entry_purge') }}">
                    <button type="submit" class="btn btn__danger">
                        <i class="fa fa-dumpster" aria-hidden="true"></i> <span>{{ 'purge'|trans }}</span>
                    </button>
                </form>
            </li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MODERATOR') %}
            <li class="actions">
                <form name="change_magazine"
                      action="{{ path('entry_change_magazine', {magazine_name: entry.magazine.name, entry_id: entry.id}) }}"
                      method="post"
                      data-action="confirmation#ask" data-confirmation-message-param="{{ 'are_you_sure'|trans }}">
                    <input type="hidden" name="token" value="{{ csrf_token('change_magazine') }}">
                    <input id="change_magazine_new_magazine" required="required" placeholder="{{ entry.magazine.name }}" name="change_magazine[new_magazine]">
                    <button type="submit" class="btn btn__secondary">
                        {{ 'change_magazine'|trans }}
                    </button>
                </form>
            </li>
        {% endif %}
        <li class="actions">
            {{ form_start(form, {action: path('entry_change_lang', {magazine_name: magazine.name, entry_id: entry.id})}) }}
            {{ form_row(form.lang, {label: false, row_attr: {class: 'checkbox'}}) }}
            {{ form_row(form.submit, {label: 'change_language'|trans, attr: {class: 'btn btn__secondary'}}) }}
            {{ form_end(form) }}
        </li>
    </menu>
</div>
