<aside class="options options--top" id="options">
    <div></div>
    <menu class="options__filter">
        <li class="dropdown">
            <button aria-label="{{ 'sort_by'|trans }}"
                    title="{{ 'sort_by'|trans }}"><i
                        class="fa-solid fa-sort" aria-hidden="true"></i> <span>{{ get_active_sort_option()|trans }}</span>
            </button>
            <ul class="dropdown__menu">
                <li>
            <a href="{{ options_url('sortBy', 'top', 'front') }}"
               class="{{ html_classes({'active': route_has_param('sortBy', 'top')}) }}">
                {{ 'top'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ options_url('sortBy', 'hot', 'front') }}"
               class="{{ html_classes({'active': route_has_param('sortBy', 'hot')}) }}">
                {{ 'hot'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ options_url('sortBy', 'newest', 'front') }}"
               class="{{ html_classes({'active': route_has_param('sortBy', 'newest')}) }}">
                {{ 'newest'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ options_url('sortBy', 'active', 'front') }}"
               class="{{ html_classes({'active': route_has_param('sortBy', 'active')}) }}">
                {{ 'active'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ options_url('sortBy', 'commented', 'front') }}"
               class="{{ html_classes({'active': route_has_param('sortBy', 'commented')}) }}">
                {{ 'commented'|trans }}
            </a>
        </li>
    </ul>
    </li>
        <li class="dropdown">
            <button aria-label="{{ 'filter_by_time'|trans }}"
                    title="{{ 'filter_by_time'|trans }}"><i
                        class="fa-solid fa-clock" aria-hidden="true"></i> <span>{{ get_time_param_translated() }}</span>
            </button>
            <ul class="dropdown__menu">
                <li>
                    <a href="{{ options_url('time', 'âˆ', 'front') }}"
                       class="{{ html_classes({'active': route_has_param('time', 'âˆ') or not get_route_param('time')}) }}">
                        {{ 'all_time'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ options_url('time', '3h', 'front') }}"
                       class="{{ html_classes({'active': route_has_param('time', '3h')}) }}">
                        {{ '3h'|trans }}
                    </a></li>
                <li>
                    <a href="{{ options_url('time', '6h', 'front') }}"
                       class="{{ html_classes({'active': route_has_param('time', '6h')}) }}">
                        {{ '6h'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ options_url('time', '12h', 'front') }}"
                       class="{{ html_classes({'active': route_has_param('time', '12h')}) }}">
                        {{ '12h'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ options_url('time', '1d', 'front') }}"
                       class="{{ html_classes({'active': route_has_param('time', '1d')}) }}">
                        {{ '1d'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ options_url('time', '1w', 'front') }}"
                       class="{{ html_classes({'active': route_has_param('time', '1w')}) }}">
                        {{ '1w'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ options_url('time', '1m', 'front') }}"
                       class="{{ html_classes({'active': route_has_param('time', '1m')}) }}">
                        {{ '1m'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ options_url('time', '1y', 'front') }}"
                       class="{{ html_classes({'active': route_has_param('time', '1y')}) }}">
                        {{ '1y'|trans }}
                    </a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <button
                    aria-label="{{ 'filter_by_type'|trans }}"
                    title="{{ 'filter_by_type'|trans }}"><i
                        class="fa-solid fa-images" aria-hidden="true"></i> <span>{{ criteria.resolveType(criteria.getOption('type'))|trans }}</span>
            </button>
            <ul class="dropdown__menu">
                <li>
                    <a href="{{ options_url('type', 'all', 'front') }}"
                       class="{{ html_classes({'active': route_has_param('type', 'all') or not get_route_param('type')}) }}">
                        {{ 'all'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ options_url('type', 'links', 'front') }}"
                       class="{{ html_classes({'active': route_has_param('type', 'links')}) }}">
                        {{ 'links'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ options_url('type', 'articles', 'front') }}"
                       class="{{ html_classes({'active': route_has_param('type', 'articles')}) }}">
                        {{ 'articles'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ options_url('type', 'photos', 'front') }}"
                       class="{{ html_classes({'active': route_has_param('type', 'photos') }) }}">
                        {{ 'photos'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ options_url('type', 'videos', 'front') }}"
                       class="{{ html_classes({'active': criteria.getOption('type') == 'videos'}) }}">
                        {{ 'videos'|trans }}
                    </a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <button
                    aria-label="{{ 'filter_by_subscription'|trans }}"
                    title="{{ 'filter_by_subscription'|trans }}"><i
                            class="fa-solid fa-folder-plus" aria-hidden="true"></i> <span>{{ criteria.resolveFront()|trans }}</span>
            </button>
            <ul class="dropdown__menu">
                <li>
                    <a href="{{ options_url('filter', 'sub', 'front') }}"
                        class="{{ html_classes({'active': criteria.subscribed }) }}">{{ 'subscribed'|trans }}</a>
                </li>
                <li>
                    <a href="{{ options_url('filter', 'mod', 'front') }}"
                        class="{{ html_classes({'active': criteria.moderated }) }}">{{ 'moderated'|trans }}</a>
                </li>
                <li>
                    <a href="{{ options_url('filter', 'fav', 'front') }}"
                        class="{{ html_classes({'active': criteria.favourite }) }}">{{ 'favourites'|trans }}</a>
                </li>
                <li>
                    <a href="{{ options_url('filter', 'all', 'front') }}"
                        class="{{ html_classes({'active': not criteria.favourite and not criteria.moderated and not criteria.subscribed}) }}">{{ 'all'|trans }}</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <button
                    aria-label="{{ 'filter_by_federation'|trans }}"
                    title="{{ 'filter_by_federation'|trans }}"><i
                            class="fa-solid fa-earth-africa" aria-hidden="true"></i> <span>{{ criteria.federation|trans }}</span>
            </button>
            <ul class="dropdown__menu">
                <li>
                    <a href="{{ options_url('federation', 'local') }}"
                        class="{{ html_classes({'active': criteria.federation == 'local' }) }}">{{ 'local'|trans }}</a>
                </li>
                <li>
                    <a href="{{ options_url('federation', 'federated') }}"
                        class="{{ html_classes({'active': criteria.federation == 'local' }) }}">{{ 'federated'|trans }}</a>
                </li>
                <li>
                    <a href="{{ options_url('federation', 'all') }}"
                        class="{{ html_classes({'active': criteria.federation == 'local' }) }}">{{ 'all'|trans }}</a>
                </li>
            </ul>
        </li>
    </menu>
    <menu class="options__view">
        <li class="dropdown">
            <button aria-label="{{ 'change_view'|trans }}"
                    title="{{ 'change_view'|trans }}"><i
                        class="fa-solid fa-layer-group" aria-hidden="true"></i>
            </button>
            <ul class="dropdown__menu">
                <li>
                    <a class="{{ html_classes({'active': not app.request.cookies.has(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_ENTRIES_COMPACT')) or app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_ENTRIES_COMPACT')) is same as 'false'}) }}"
                       href="{{ path('theme_settings', {key: constant('App\\Controller\\User\\ThemeSettingsController::KBIN_ENTRIES_COMPACT'), value: 'false'}) }}">
                        {{ 'classic_view'|trans }}
                    </a>
                </li>
                <li>
                    <a class="{{ html_classes({'active': app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_ENTRIES_COMPACT')) is same as 'true'}) }}"
                       href="{{ path('theme_settings', {key: constant('App\\Controller\\User\\ThemeSettingsController::KBIN_ENTRIES_COMPACT'), value: 'true'}) }}">
                        {{ 'compact_view'|trans }}
                    </a>
                </li>
            </ul>
        </li>
    </menu>
</aside>
