<aside class="options options--top" id="options">
    <div></div>
    <menu class="options__filter">
        <li class="dropdown">
            <button aria-label="{{ 'sort_by'|trans }}"
                    title="{{ 'sort_by'|trans }}"><i
                        class="fa-solid fa-sort" aria-hidden="true"></i>
                <span>{{ criteria.getOption('sort')|trans }}</span>
            </button>
            <ul class="dropdown__menu">
                <li>
            <a href="{{ options_url('sortBy', 'top') }}"
               class="{{ html_classes({'active': criteria.getOption('sort') == 'top'}) }}">
                {{ 'top'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ options_url('sortBy', 'hot') }}"
               class="{{ html_classes({'active': criteria.getOption('sort') == 'hot'}) }}">
                {{ 'hot'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ options_url('sortBy', 'newest') }}"
               class="{{ html_classes({'active': criteria.getOption('sort') == 'newest'}) }}">
                {{ 'newest'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ options_url('sortBy', 'active') }}"
               class="{{ html_classes({'active': criteria.getOption('sort') == 'active'}) }}">
                {{ 'active'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ options_url('sortBy', 'commented') }}"
               class="{{ html_classes({'active': criteria.getOption('sort') == 'commented'}) }}">
                {{ 'commented'|trans }}
            </a>
        </li>
    </ul>
    </li>
        <li class="dropdown">
            <button aria-label="{{ 'filter_by_time'|trans }}"
                    title="{{ 'filter_by_time'|trans }}">
                <i aria-hidden="true" class="fa-solid fa-clock"></i>
                {% if criteria.getOption('time') != '∞' %}
                    <span>{{ criteria.getOption('time')|trans }}</span>
                {% endif %}
            </button>
            <ul class="dropdown__menu">
                <li>
                    <a href="{{ options_url('time', '∞') }}"
                       class="{{ html_classes({'active': criteria.getOption('time') == '∞'}) }}">
                        {{ 'all_time'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ options_url('time', '3h') }}"
                       class="{{ html_classes({'active': criteria.getOption('time') == '3h' }) }}">
                        {{ '3h'|trans }}
                    </a></li>
                <li>
                    <a href="{{ options_url('time', '6h') }}"
                       class="{{ html_classes({'active': criteria.getOption('time') == '6h' }) }}">
                        {{ '6h'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ options_url('time', '12h') }}"
                       class="{{ html_classes({'active': criteria.getOption('time') == '12h' }) }}">
                        {{ '12h'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ options_url('time', '1d') }}"
                       class="{{ html_classes({'active': criteria.getOption('time') == '1d' }) }}">
                        {{ '1d'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ options_url('time', '1w') }}"
                       class="{{ html_classes({'active': criteria.getOption('time') == '1w' }) }}">
                        {{ '1w'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ options_url('time', '1m') }}"
                       class="{{ html_classes({'active': criteria.getOption('time') == '1m' }) }}">
                        {{ '1m'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ options_url('time', '1y') }}"
                       class="{{ html_classes({'active': criteria.getOption('time') == '1y' }) }}">
                        {{ '1y'|trans }}
                    </a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <button aria-label="{{ 'filter_by_type'|trans }}"
                    title="{{ 'filter_by_type'|trans }}">
                <i aria-hidden="true" class="
                    {% if criteria.getOption('type') == 'all' %} fa-solid fa-icons
                    {% elseif criteria.getOption('type') == 'links' %} fa-regular fa-file-code
                    {% elseif criteria.getOption('type') == 'threads' %} fa-regular fa-file-lines
                    {% elseif criteria.getOption('type') == 'photos' %} fa-regular fa-file-image
                    {% elseif criteria.getOption('type') == 'videos' %} fa-regular fa-file-video
                    {% else %} fa-solid fa-question {% endif %}">
                </i>
                {% if criteria.getOption('type') != 'all' %}
                    <span class="hide-on-mobile">{{ criteria.getOption('type')|trans }}</span>
                {% endif %}
            </button>
            <ul class="dropdown__menu">
                <li>
                    <a href="{{ options_url('type', 'all') }}"
                       class="{{ html_classes({'active': criteria.getOption('type') == 'all' }) }}">
                        {{ 'all'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ options_url('type', 'links') }}"
                       class="{{ html_classes({'active': criteria.getOption('type') == 'links' }) }}">
                        {{ 'links'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ options_url('type', 'articles') }}"
                       class="{{ html_classes({'active': criteria.getOption('type') == 'threads' }) }}">
                        {{ 'threads'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ options_url('type', 'photos') }}"
                       class="{{ html_classes({'active': criteria.getOption('type') == 'photos' }) }}">
                        {{ 'photos'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ options_url('type', 'videos') }}"
                       class="{{ html_classes({'active': criteria.getOption('type') == 'videos'}) }}">
                        {{ 'videos'|trans }}
                    </a>
                </li>
            </ul>
        </li>
        {% if app.user %}
            <li class="dropdown">
                <button
                        aria-label="{{ 'filter_by_subscription'|trans }}"
                        title="{{ 'filter_by_subscription'|trans }}">
                    <i aria-hidden="true" class="fa-solid
                        {% if criteria.favourite %} fa-heart
                        {% elseif criteria.subscribed %} fa-folder-plus
                        {% elseif criteria.moderated %} fa-shield-halved
                        {% else %} fa-earth-americas {% endif %}">
                    </i>                    
                    {% if criteria.favourite or criteria.moderated or criteria.subscribed %}
                        <span class="hide-on-mobile">{{ criteria.resolveSubscriptionFilter()|trans }}</span>
                    {% endif %}                                                
                </button>
                <ul class="dropdown__menu">
                    <li>
                        <a href="{{ options_url('filter', 'all') }}"
                            class="{{ html_classes({'active': not criteria.favourite and not criteria.moderated and not criteria.subscribed}) }}">{{ 'all'|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ options_url('filter', 'sub') }}"
                            class="{{ html_classes({'active': criteria.subscribed }) }}">{{ 'subscribed'|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ options_url('filter', 'mod') }}"
                            class="{{ html_classes({'active': criteria.moderated }) }}">{{ 'moderated'|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ options_url('filter', 'fav') }}"
                            class="{{ html_classes({'active': criteria.favourite }) }}">{{ 'favourites'|trans }}</a>
                    </li>
                </ul>
            </li>
        {% endif %}
        <li class="dropdown">
            <button
                    aria-label="{{ 'filter_by_federation'|trans }}"
                    title="{{ 'filter_by_federation'|trans }}">
                <i aria-hidden="true" class="fa-solid
                    {% if criteria.getOption('federation') == 'all' %} fa-circle-nodes
                    {% elseif criteria.getOption('federation') == 'local' %} fa-house-chimney
                    {% elseif criteria.getOption('federation') == 'federated' %} fa-network-wired
                    {% else %} fa-question {% endif %}">
                </i>
                {% if criteria.getOption('federation') != 'all' %}
                    <span class="hide-on-mobile">{{ criteria.federation|trans }}</span>
                {% endif %}                           
            </button>
            <ul class="dropdown__menu">
                <li>
                    <a href="{{ options_url('federation', 'all') }}"
                        class="{{ html_classes({'active': criteria.getOption('federation') == 'all' }) }}">{{ 'all'|trans }}</a>
                </li>
                <li>
                    <a href="{{ options_url('federation', 'local') }}"
                        class="{{ html_classes({'active': criteria.getOption('federation') == 'local' }) }}">{{ 'local'|trans }}</a>
                </li>
                <li>
                    <a href="{{ options_url('federation', 'federated') }}"
                        class="{{ html_classes({'active': criteria.getOption('federation') == 'federated' }) }}">{{ 'federated'|trans }}</a>
                </li>
            </ul>
        </li>
    </menu>
    <menu class="options__view">
        <li class="dropdown">
            <button aria-label="{{ 'change_view'|trans }}"
                    title="{{ 'change_view'|trans }}"><i
                        class="fa-solid fa-layer-group" aria-hidden="true"></i>
            </button>
            <ul class="dropdown__menu">
                <li>
                    <a class="{{ html_classes({'active': not app.request.cookies.has(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_ENTRIES_COMPACT')) or app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_ENTRIES_COMPACT')) is same as 'false'}) }}"
                       href="{{ path('theme_settings', {key: constant('App\\Controller\\User\\ThemeSettingsController::KBIN_ENTRIES_COMPACT'), value: 'false'}) }}">
                        {{ 'classic_view'|trans }}
                    </a>
                </li>
                <li>
                    <a class="{{ html_classes({'active': app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_ENTRIES_COMPACT')) is same as 'true'}) }}"
                       href="{{ path('theme_settings', {key: constant('App\\Controller\\User\\ThemeSettingsController::KBIN_ENTRIES_COMPACT'), value: 'true'}) }}">
                        {{ 'compact_view'|trans }}
                    </a>
                </li>
            </ul>
        </li>
    </menu>
</aside>
