{% extends "_email/email_base.html.twig" %}

{%- block title -%}
    {{- 'email_confirm_header'|trans }}
{%- endblock -%}

{% block body %}
    <h1>{{ 'email_confirm_header'|trans }}</h1>
    <p>{{ 'email_confirm_content'|trans }} </p>
    <p>
        <a class="btn btn__primary" href="{{ signedUrl|raw }}">{{ 'email_verify'|trans }}</a>
    </p>
    {% if user.isApproved is same as false %}
        <p>
            {{ 'email_application_pending'|trans }}
        </p>
    {% endif %}
    <p>{{ 'email_confirm_expire'|trans }}</p>
    <p>Cheers!</p>
{% endblock %}
