{% set queryDuration = context.queryDurationMilliseconds %}
{% set twigDuration = context.twigRenderDurationMilliseconds %}
{% set curlRequestDuration = context.curlRequestDurationMilliseconds %}
<table>
    <tbody>
    <tr><td>{{ 'monitoring_user_type'|trans }}</td><td>{{ context.userType }}</td></tr>
    <tr><td>{{ 'monitoring_path'|trans }}</td><td>{{ context.path }}</td></tr>
    <tr><td>{{ 'monitoring_handler'|trans }}</td><td>{{ context.handler }}</td></tr>
    <tr><td>{{ 'monitoring_started'|trans }}</td><td>{{ component('date', {'date': context.startedAt}) }}</td></tr>
    <tr><td>{{ 'monitoring_duration'|trans }}</td><td>{{ context.duration|round(2) }}ms</td></tr>
    <tr><td>{{ 'monitoring_queries'|trans({'%count%': 2}) }}</td><td>{{ context.queries.count() }} in {{ queryDuration|round(2) }}ms ({{ (100 / context.duration * queryDuration)|round }}%)</td></tr>
    <tr><td>{{ 'monitoring_twig_renders'|trans() }}</td><td>{{ context.twigRenders.count() }} in {{ twigDuration|round(2) }}ms ({{ (100 / context.duration * twigDuration)|round }}%)</td></tr>
    <tr><td>{{ 'monitoring_curl_requests'|trans() }}</td><td>{{ context.curlRequests.count() }} in {{ curlRequestDuration|round(2) }}ms ({{ (100 / context.duration * curlRequestDuration)|round }}%)</td></tr>
    <tr><td>{{ 'monitoring_duration_sending_response'|trans() }}</td><td>{{ context.responseSendingDurationMilliseconds|round(2) }}ms ({{ (100 / context.duration * context.responseSendingDurationMilliseconds)|round }}%)</td></tr>
    </tbody>
</table>
