{% extends 'base.html.twig' %}

{%- block title -%}
    {{- 'create_new_magazine'|trans }} - {{ parent() -}}
{%- endblock -%}

{% block mainClass %}page-entry-create page-entry-create-link{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    {% include 'entry/_create_options.html.twig' %}
    {% include('user/_visibility_info.html.twig') %}

    {% if user.visibility is same as 'visible' %}
    <header>
        <h1 hidden>{{ 'create_new_magazine'|trans }}</h1>
    </header>
    <div id="content" class="section">
        <div class="container">
            {{ form_start(form) }}
            {{ form_row(form.name, {label: 'name', attr: {
                placeholder: '/m/',
                'data-controller': 'input-length',
                'data-action' : 'input-length#updateDisplay',
                'data-input-length-max-value': constant('App\\DTO\\MagazineDto::MAX_NAME_LENGTH')
                }}) }}
            {{ form_row(form.title, {label: 'title', attr: {
                'data-controller': 'input-length autogrow',
                'data-action' : 'input-length#updateDisplay',
                'data-input-length-max-value': constant('App\\DTO\\MagazineDto::MAX_TITLE_LENGTH')
            }}) }}
            {{ component('editor_toolbar', {id: 'magazine_description'}) }}
            {{ form_row(form.description, {label: false, attr: {
                placeholder: 'description',
                'data-controller': 'input-length rich-textarea autogrow',
                'data-action' : 'input-length#updateDisplay',
                'data-input-length-max-value': constant('App\\Entity\\Magazine::MAX_DESCRIPTION_LENGTH')
                }}) }}
            {{ form_row(form.isAdult, {label:'is_adult', row_attr: {class: 'checkbox'}}) }}
            {{ form_row(form.isPostingRestrictedToMods, {label:'magazine_posting_restricted_to_mods',row_attr: {class: 'checkbox'}}) }}
            <div class="row actions">
                {{ form_row(form.submit, {label: 'create_new_magazine', attr: {class: 'btn btn__primary'}, row_attr: {class: 'float-end'}}) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    {% endif %}
{% endblock %}
