{% extends 'base.html.twig' %}

{%- block title -%}
    {{- 'message'|trans }} - {{ parent() -}}
{%- endblock -%}

{% block mainClass %}page-messages page-message{% endblock %}

{% block header_nav %}
{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script>
        window.addEventListener("load", () => {
            let view = document.getElementsByClassName('message-view')[0];
            view.scrollTo({top: view.scrollHeight});
        })
    </script>
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}

    <div class="message-view-container">
        <div class="section section--top">
            <button class="btn btn-link">
                <a href="{{ path('messages_front') }}">
                    <i class="fa-solid fa-arrow-left-long" title="{{ 'back'|trans }}"></i>
                </a>
            </button>
            {% set i = 0 %}
            {% set participants = thread.participants|filter(p => p is not same as app.user) %}
            {% for user in participants %}
                {% if i > 0 and i is same as (participants|length - 1) %}
                    {{ 'and'|trans }}
                {% elseif i > 0 %}
                    ,
                {% endif %}
                {{ component('user_inline', {user: user, showNewIcon: true}) }}
                {% set i = i + 1 %}
            {% endfor %}
        </div>

        <div class="message-view">
            {% for message in thread.messages %}
                <div id="message-{{ message.id }}" class="{{ html_classes('message section content section--small', message.sender is same as app.user ? 'message-self' : 'message-other') }}">
                    <div class="meta">{{ component('user_inline', {user: message.sender, showNewIcon: true}) }}</div>
                    {{ message.body|markdown|raw }}
                    <div class="text-right">
                        <small>
                            {{ component('date', {date: message.createdAt}) }}
                            {% if message.editedAt %}
                                ({{ 'edited'|trans }} {{ component('date', {date: message.editedAt}) }})
                            {% endif %}
                        </small>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% include 'messages/_form_create.html.twig' %}
    </div>
{% endblock %}
