<li class="dropdown">
    <button class="stretched-link" data-subject-target="more">{{ 'more'|trans }}</button>
    <ul class="dropdown__menu" data-controller="clipboard">
        <li>
            <a href="{{ path('post_report', {id: post.id}) }}"
                class="{{ html_classes({'active': is_route_name('post_report')}) }}"
                data-action="subject#getForm">
                {{ 'report'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ post_voters_url(post, 'up') }}"
                class="{{ html_classes({'active': is_route_name('post_favourites') or is_route_name('post_voters')}) }}">
                {{ 'activity'|trans }}
            </a>
        </li>

        {% if app.user is defined and app.user is not same as null %}
            {% set bookmarkLists = get_bookmark_lists(app.user) %}
            {% if bookmarkLists|length %}
                <li class="dropdown__separator"></li>
                {% for list in bookmarkLists %}
                    {{ component('bookmark_list', { subject: post, subjectType: 'post', list: list }) }}
                {% endfor %}
            {% endif %}
        {% endif %}

        <li class="dropdown__separator"></li>
        <li>
            <a target="_blank"
                rel="{{ get_rel(post.apId ?? path('ap_post', {magazine_name: post.magazine.name, post_id: post.id})) }}"
                href="{{ post.apId ?? path('ap_post', {magazine_name: post.magazine.name, post_id: post.id}) }}">
                {{ 'open_url_to_fediverse'|trans }}
            </a>
        </li>
        <li>
            <a data-action="clipboard#copy"
                rel="{{ get_rel(post.apId ?? path('ap_post', {magazine_name: post.magazine.name, post_id: post.id})) }}"
                href="{{ post.apId ?? path('ap_post', {magazine_name: post.magazine.name, post_id: post.id}) }}">
                {{ 'copy_url_to_fediverse'|trans }}
            </a>
        </li>
        <li>
            <a data-action="clipboard#copy" href="{{ post_url(post) }}">
                {{ 'copy_url'|trans }}
            </a>
        </li>
        {% if is_granted('edit', post) or (app.user and post.isAuthor(app.user)) or is_granted('moderate', post) %}
            <li class="dropdown__separator"></li>
        {% endif %}
        {% if is_granted('edit', post) %}
            <li>
                <a href="{{ post_edit_url(post) }}"
                    class="{{ html_classes({'active': is_route_name('post_edit')}) }}"
                    data-action="subject#getForm">
                    {{ 'edit'|trans }}
                </a>
            </li>
        {% endif %}
        {% if app.user and post.isAuthor(app.user) %}
            <li>
                <form method="post"
                        action="{{ post_delete_url(post) }}"
                        data-action="confirmation#ask" data-confirmation-message-param="{{ 'are_you_sure'|trans }}">
                    <button type="submit">{{ 'delete'|trans }}</button>
                </form>
            </li>
        {% endif %}

        {% if is_granted('lock', post) %}
            <li>
                <form method="post" action="{{ path('post_lock', {'magazine_name': post.magazine.name, 'post_id': post.id, 'slug': post.slug}) }}" data-action="confirmation#ask"
                    data-confirmation-message-param="{{ 'are_you_sure'|trans }}">
                    <input type="hidden" name="token" value="{{ csrf_token('post_lock') }}">
                    {% if post.isLocked %}
                        <button type="submit"><i class="fa fa-lock-open" aria-hidden="true" style="margin-right: .5em;"></i>{{ 'unlock'|trans }}</button>
                    {% else %}
                        <button type="submit"><i class="fa fa-lock" aria-hidden="true" style="margin-right: .5em;"></i>{{ 'lock'|trans }}</button>
                    {% endif %}
                </form>
            </li>
        {% endif %}
        {% if is_granted('moderate', post) %}
            <li>
                <a href="{{ post_moderate_url(post) }}"
                    class="{{ html_classes({'active': is_route_name('post_moderate')}) }}"
                    data-action="subject#showModPanel">
                    {{ 'moderate'|trans }}
                </a>
            </li>
        {% endif %}
    </ul>
</li>
