<aside class="options" id="options">
    <div></div>
    <menu class="options__main">
        <li>
            <a href="{{ options_url('sortBy', 'top') }}"
               class="{{ html_classes({'active': route_has_param('sortBy', 'top')}) }}">
                {{ 'top'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ options_url('sortBy', 'hot') }}"
               class="{{ html_classes({'active': route_has_param('sortBy', 'hot')}) }}">
                {{ 'hot'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ options_url('sortBy', 'newest') }}"
               class="{{ html_classes({'active': route_has_param('sortBy', 'newest')}) }}">
                {{ 'newest'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ options_url('sortBy', 'active') }}"
               class="{{ html_classes({'active': route_has_param('sortBy', 'active')}) }}">
                {{ 'active'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ options_url('sortBy', 'commented') }}"
               class="{{ html_classes({'active': route_has_param('sortBy', 'commented')}) }}">
                {{ 'commented'|trans }}
            </a>
        </li>
    </menu>
    <menu class="options__view">
        <li class="dropdown">
            <button aria-label="{{ 'filter_by_time'|trans }}"
                    title="{{ 'filter_by_time'|trans }}"><i
                        class="fa-solid fa-clock" aria-hidden="true"></i> <span>{{ get_time_param_translated() }}</span>
            </button>
            <ul class="dropdown__menu">
                <li>
                    <a href="{{ options_url('time', 'âˆ') }}"
                       class="{{ html_classes({'active': route_has_param('time', 'âˆ') or not get_route_param('time')}) }}">
                        {{ 'all_time'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ options_url('time', '3h') }}"
                       class="{{ html_classes({'active': route_has_param('time', '3h')}) }}">
                        {{ '3h'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ options_url('time', '6h') }}"
                       class="{{ html_classes({'active': route_has_param('time', '6h')}) }}">
                        {{ '6h'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ options_url('time', '12h') }}"
                       class="{{ html_classes({'active': route_has_param('time', '12h')}) }}">
                        {{ '12h'|trans }}
                    </a>
                </li>
                {% if get_active_sort_option() is not same as 'hot'|trans %}
                    <li>
                        <a href="{{ options_url('time', '1d') }}"
                           class="{{ html_classes({'active': route_has_param('time', '1d')}) }}">
                            {{ '1d'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ options_url('time', '1w') }}"
                           class="{{ html_classes({'active': route_has_param('time', '1w')}) }}">
                            {{ '1w'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ options_url('time', '1m') }}"
                           class="{{ html_classes({'active': route_has_param('time', '1m')}) }}">
                            {{ '1m'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ options_url('time', '1y') }}"
                           class="{{ html_classes({'active': route_has_param('time', '1y')}) }}">
                            {{ '1y'|trans }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </li>
    </menu>
</aside>
