{% set showFilterLabels = app.request.cookies.get('kbin_general_filter_labels')|default('on') %}

<aside class="options options--top" id="options">
    <div></div>
    <menu class="options__filter">
        <li class="dropdown">
            <button aria-label="{{ 'sort_by'|trans }}"
                    title="{{ 'sort_by'|trans }}"><i
                        class="fa-solid fa-sort" aria-hidden="true"></i>
                <span>{{ criteria.getOption('sort')|trans }}</span>
            </button>
            <ul class="dropdown__menu">
                <li>
                    <a href="{{ front_options_url('sortBy', 'top', null, {'p': null}) }}"
                    class="{{ html_classes({'active': criteria.getOption('sort') == 'top'}) }}">
                        {{ 'top'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ front_options_url('sortBy', 'hot', null, {'p': null}) }}"
                    class="{{ html_classes({'active': criteria.getOption('sort') == 'hot'}) }}">
                        {{ 'hot'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ front_options_url('sortBy', 'newest', null, {'p': null}) }}"
                    class="{{ html_classes({'active': criteria.getOption('sort') == 'newest'}) }}">
                        {{ 'newest'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ front_options_url('sortBy', 'active', null, {'p': null}) }}"
                    class="{{ html_classes({'active': criteria.getOption('sort') == 'active'}) }}">
                        {{ 'active'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ front_options_url('sortBy', 'commented', null, {'p': null}) }}"
                    class="{{ html_classes({'active': criteria.getOption('sort') == 'commented'}) }}">
                        {{ 'commented'|trans }}
                    </a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <button aria-label="{{ 'filter_by_time'|trans }}"
                    title="{{ 'filter_by_time'|trans }}">
                <i aria-hidden="true" class="fa-solid fa-clock"></i>
                {% if showFilterLabels == 'on' or (showFilterLabels == 'auto' and criteria.getOption('time') != 'all') %}
                    <span>{{ criteria.getOption('time')|trans }}</span>
                {% endif %}
            </button>
            <ul class="dropdown__menu">
                <li>
                    <a href="{{ front_options_url('time', '∞', null, {'p': null}) }}"
                       class="{{ html_classes({'active': criteria.getOption('time') == 'all'}) }}">
                        {{ 'all_time'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ front_options_url('time', '3h', null, {'p': null}) }}"
                       class="{{ html_classes({'active': criteria.getOption('time') == '3h' }) }}">
                        {{ '3h'|trans }}
                    </a></li>
                <li>
                    <a href="{{ front_options_url('time', '6h', null, {'p': null}) }}"
                       class="{{ html_classes({'active': criteria.getOption('time') == '6h' }) }}">
                        {{ '6h'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ front_options_url('time', '12h', null, {'p': null}) }}"
                       class="{{ html_classes({'active': criteria.getOption('time') == '12h' }) }}">
                        {{ '12h'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ front_options_url('time', '1d', null, {'p': null}) }}"
                       class="{{ html_classes({'active': criteria.getOption('time') == '1d' }) }}">
                        {{ '1d'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ front_options_url('time', '1w', null, {'p': null}) }}"
                       class="{{ html_classes({'active': criteria.getOption('time') == '1w' }) }}">
                        {{ '1w'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ front_options_url('time', '1m', null, {'p': null}) }}"
                       class="{{ html_classes({'active': criteria.getOption('time') == '1m' }) }}">
                        {{ '1m'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ front_options_url('time', '1y', null, {'p': null}) }}"
                       class="{{ html_classes({'active': criteria.getOption('time') == '1y' }) }}">
                        {{ '1y'|trans }}
                    </a>
                </li>
            </ul>
        </li>

        {% if criteria and criteria.getOption('content') != 'microblog' %}
            <li class="dropdown">
                <button aria-label="{{ 'filter_by_type'|trans }}"
                        title="{{ 'filter_by_type'|trans }}">
                    <i aria-hidden="true" class="
                        {% if criteria.getOption('type') == 'all' %}
                            fa-solid fa-file
                        {% elseif criteria.getOption('type') == 'links' %}
                            fa-regular fa-file-code
                        {% elseif criteria.getOption('type') == 'threads' %}
                            fa-regular fa-file-lines
                        {% elseif criteria.getOption('type') == 'photos' %}
                            fa-regular fa-file-image
                        {% elseif criteria.getOption('type') == 'videos' %}
                            fa-regular fa-file-video
                        {% else %}
                            fa-solid fa-question
                        {% endif %}">
                    </i>
                    {% if showFilterLabels == 'on' or (showFilterLabels == 'auto' and criteria.getOption('type') != 'all') %}
                        <span class="hide-on-mobile">{{ criteria.getOption('type')|trans }}</span>
                    {% endif %}
                </button>
                <ul class="dropdown__menu">
                    <li>
                        <a href="{{ front_options_url('type', null, null, {'p': null}) }}" class="{{ html_classes({'active': criteria.getOption('type') == 'all' }) }}">
                            <i class="fa-solid fa-file" aria-hidden="true"></i> &nbsp; {{ 'all'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ front_options_url('type', 'links', null, {'p': null}) }}" class="{{ html_classes({'active': criteria.getOption('type') == 'links' }) }}">
                            <i class="fa-regular fa-file-code" aria-hidden="true"></i> &nbsp; {{ 'links'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ front_options_url('type', 'articles', null, {'p': null}) }}" class="{{ html_classes({'active': criteria.getOption('type') == 'threads' }) }}">
                            <i class="fa-regular fa-file-lines" aria-hidden="true"></i> &nbsp; {{ 'threads'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ front_options_url('type', 'photos', null, {'p': null}) }}" class="{{ html_classes({'active': criteria.getOption('type') == 'photos' }) }}">
                            <i class="fa-regular fa-file-image" aria-hidden="true"></i> &nbsp; {{ 'photos'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ front_options_url('type', 'videos', null, {'p': null}) }}" class="{{ html_classes({'active': criteria.getOption('type') == 'videos'}) }}">
                            <i class="fa-regular fa-file-video" aria-hidden="true"></i> &nbsp; {{ 'videos'|trans }}
                        </a>
                    </li>
                </ul>
            </li>
        {% endif %}

        {% if app.user %}
            <li class="dropdown">
                <button
                        aria-label="{{ 'filter_by_subscription'|trans }}"
                        title="{{ 'filter_by_subscription'|trans }}">
                    <i aria-hidden="true" class="fa-solid
                        {% if criteria.favourite %}
                            fa-heart
                        {% elseif criteria.subscribed %}
                            fa-folder-plus
                        {% elseif criteria.moderated %}
                            fa-shield-halved
                        {% else %}
                            fa-earth-americas
                        {% endif %}">
                    </i>
                    {% if showFilterLabels == 'on' or (showFilterLabels == 'auto' and (criteria.favourite or criteria.moderated or criteria.subscribed)) %}
                        <span class="hide-on-mobile">{{ criteria.resolveSubscriptionFilter()|trans }}</span>
                    {% endif %}
                </button>
                <ul class="dropdown__menu">
                    <li>
                        <a href="{{ front_options_url('subscription', 'all', null, {'p': null}) }}" class="{{ html_classes({'active': not criteria.favourite and not criteria.moderated and not criteria.subscribed}) }}">
                            <i class="fa-solid fa-earth-americas" aria-hidden="true"></i> &nbsp; {{ 'all'|trans }}
                        </a>
                    </li>
                    {% if not is_route_name_contains('_magazine') %}
                        <li>
                            <a href="{{ front_options_url('subscription', 'sub', null, {'p': null}) }}" class="{{ html_classes({'active': criteria.subscribed }) }}">
                                <i class="fa-solid fa-folder-plus" aria-hidden="true"></i> &nbsp; {{ 'subscribed'|trans }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ front_options_url('subscription', 'mod', null, {'p': null}) }}" class="{{ html_classes({'active': criteria.moderated }) }}">
                                <i class="fa-solid fa-shield-halved" aria-hidden="true"></i> &nbsp;{{ 'moderated'|trans }}
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{{ front_options_url('subscription', 'fav', null, {'p': null}) }}" class="{{ html_classes({'active': criteria.favourite }) }}">
                            <i class="fa-solid fa-heart" aria-hidden="true"></i> &nbsp; {{ 'favourites'|trans }}
                        </a>
                    </li>
                </ul>
            </li>
        {% endif %}
        <li class="dropdown">
            <button
                    aria-label="{{ 'filter_by_federation'|trans }}"
                    title="{{ 'filter_by_federation'|trans }}">
                <i aria-hidden="true" class="fa-solid
                    {% if criteria.getOption('federation') == 'all' %}
                        fa-circle-nodes
                    {% elseif criteria.getOption('federation') == 'local' %}
                        fa-house-chimney
                    {% elseif criteria.getOption('federation') == 'federated' %}
                        fa-network-wired
                    {% else %}
                        fa-question
                    {% endif %}">
                </i>
                {% if showFilterLabels == 'on' or (showFilterLabels == 'auto' and criteria.getOption('federation') != 'all') %}
                    <span class="hide-on-mobile">{{ criteria.federation|trans }}</span>
                {% endif %}
            </button>
            <ul class="dropdown__menu">
                <li>
                    <a href="{{ front_options_url('federation', 'all', null, {'p': null}) }}" class="{{ html_classes({'active': criteria.getOption('federation') == 'all' }) }}">
                        <i class="fa-solid fa-circle-nodes" aria-hidden="true"></i> &nbsp; {{ 'all'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ front_options_url('federation', 'local', null, {'p': null}) }}" class="{{ html_classes({'active': criteria.getOption('federation') == 'local' }) }}">
                        <i class="fa-solid fa-house-chimney" aria-hidden="true"></i> &nbsp; {{ 'local'|trans }}
                    </a>
                </li>
                {#
                <li>
                    <a href="{{ front_options_url('federation', 'federated', null, {'p': null}) }}" class="{{ html_classes({'active': criteria.getOption('federation') == 'federated' }) }}">
                        <i class="fa-solid fa-network-wired" aria-hidden="true"></i> &nbsp; {{ 'federated'|trans }}
                    </a>
                </li>
                #}
            </ul>
        </li>
    </menu>
    <menu class="options__view">
        <li class="dropdown">
            <button aria-label="{{ 'change_view'|trans }}"
                    title="{{ 'change_view'|trans }}"><i
                        class="fa-solid fa-layer-group" aria-hidden="true"></i>
            </button>
            <ul class="dropdown__menu">
                <li>
                    <a class="{{ html_classes({'active': not app.request.cookies.has(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_ENTRIES_COMPACT')) or app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_ENTRIES_COMPACT')) is same as 'false'}) }}"
                       href="{{ path('theme_settings', {key: constant('App\\Controller\\User\\ThemeSettingsController::KBIN_ENTRIES_COMPACT'), value: 'false'}) }}">
                        {{ 'classic_view'|trans }}
                    </a>
                </li>
                <li>
                    <a class="{{ html_classes({'active': app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_ENTRIES_COMPACT')) is same as 'true'}) }}"
                       href="{{ path('theme_settings', {key: constant('App\\Controller\\User\\ThemeSettingsController::KBIN_ENTRIES_COMPACT'), value: 'true'}) }}">
                        {{ 'compact_view'|trans }}
                    </a>
                </li>
            </ul>
        </li>
    </menu>
</aside>
