<div class="cursor-pagination">
    {% if isForward is same as true %}
        <div class="section">
            {% if pagination.hasNextPage() %}
                <a class="btn btn__primary btn-link" href="{{ options_url('cursor', get_cursor_url_value(pagination.getNextPage())) }}">
                    {{ 'next_page'|trans|capitalize }}
                </a>
            {% else %}
                {{ 'reached_end'|trans }}
            {% endif %}
        </div>
    {% else %}
        {% if pagination.hasPreviousPage() %}
            <div class="section">
                <a class="btn btn__primary btn-link" href="{{ options_url('cursor', get_cursor_url_value(pagination.getPreviousPage())) }}">
                    {{ 'previous_page'|trans|capitalize }}
                </a>
            </div>
        {% endif %}
    {% endif %}
</div>
