<div class="cursor-pagination">
    <div class="section">
        <div class="container">
            <div class="col">
                {% if pagination.hasPreviousPage() %}
                    {% set cursors = pagination.getPreviousPage() %}
                    <a class="btn btn__primary btn-link" href="{{ options_url('cursor', get_cursor_url_value(cursors[0]), null, {'cursor2': get_cursor_url_value(cursors[1])}) }}">
                        <i class="fa fa-solid fa-angle-left" title="{{ 'previous_page'|trans|capitalize }}"></i>
                    </a>
                {% else %}
                    <div></div>
                {% endif %}
            </div>

            {% if app.request.query.get('cursor') %}
                <div class="col col-auto">
                    <a class="btn btn__secondary btn-link small" href="{{ options_url('cursor', null, null, {'cursor2': null}) }}">
                        <i class="fa fa-solid fa-home" title="{{ 'first_page'|trans|capitalize }}"></i>
                    </a>
                </div>
            {% endif %}

            <div class="col">
                {% if pagination.hasNextPage() %}
                    {% set cursors = pagination.getNextPage() %}
                    <a class="btn btn__primary btn-link next" href="{{ options_url('cursor', get_cursor_url_value(cursors[0]), null, {'cursor2': get_cursor_url_value(cursors[1])}) }}">
                        <i class="fa fa-solid fa-angle-right" title="{{ 'next_page'|trans|capitalize }}"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    {% if not pagination.hasNextPage() %}
        <aside class="section section--muted">
            <p>{{ 'reached_end'|trans }}</p>
        </aside>
    {% endif %}
</div>
