<aside{{ attributes.defaults({class: 'domain__subscribe', 'data-controller': 'subs'}) }}>
    <div class="action"
        title="{{ domain.subscriptionsCount ~ ' ' ~ 'subscribers_count'|trans({'%count%': domain.subscriptionsCount}) }}"
        aria-label="{{ domain.subscriptionsCount ~ ' ' ~ 'subscribers_count'|trans({'%count%': domain.subscriptionsCount}) }}">
        <i class="fa-solid fa-users" aria-hidden="true"></i> <span>{{ domain.subscriptionsCount }}</span>
    </div>
    <form action="{{ path('domain_' ~ (is_domain_subscribed(domain) ? 'unsubscribe' : 'subscribe'), {name: domain.name}) }}"
          name="domain_subscribe"
          method="post">
        <button type="submit"
                class="{{ html_classes('btn btn__secondary', {'active': is_domain_subscribed(domain)}) }}"
                title="{{ is_domain_subscribed(domain) ? 'unsubscribe'|trans : 'subscribe'|trans }}"
                data-action="subs#send">
            {{ is_domain_subscribed(domain) ? 'unsubscribe_short'|trans : 'subscribe_short'|trans }}
        </button>
    </form>
    <form action="{{ path('domain_' ~ (is_domain_blocked(domain) ? 'unblock' : 'block'), {name: domain.name}) }}"
          name="domain_block"
          method="post">
        <button type="submit"
                class="{{ html_classes('btn btn__secondary', {'active danger': is_domain_blocked(domain)}) }}"
                data-action="subs#send">
            <i class="fa-solid fa-ban" aria-hidden="true"></i><span>{{ is_domain_blocked(domain) ? 'unblock'|trans : 'block'|trans  }}</span>
        </button>
    </form>
</aside>
