{# @var this App\Twig\Components\LoginSocialsComponent #}
{%- set HAS_ANY_SOCIAL = this.googleEnabled or this.facebookEnabled or this.discordEnabled or this.githubEnabled or this.keycloakEnabled or this.simpleloginEnabled or this.zitadelEnabled or this.authentikEnabled or this.azureEnabled or this.privacyPortalEnabled -%}
{% if HAS_ANY_SOCIAL %}
    {% if not mbin_sso_only_mode() and not mbin_sso_show_first() %}
    <div class="separator separator-show"></div>
    {% endif %}
    <div class="social">
        {% if this.googleEnabled %}
            <a href="{{ path('oauth_google_connect') }}" class="btn btn__secondary"><i class="fa-brands fa-google" aria-hidden="true"></i>
                <span>{{ 'continue_with'|trans }} Google</span></a>
        {% endif %}
        {% if this.facebookEnabled %}
            <a href="{{ path('oauth_facebook_connect') }}" class="btn btn__secondary"><i class="fa-brands fa-facebook" aria-hidden="true"></i>
                <span>{{ 'continue_with'|trans }} Facebook</span></a>
        {% endif %}
        {% if this.githubEnabled %}
            <a href="{{ path('oauth_github_connect') }}" class="btn btn__secondary"><i class="fa-brands fa-github" aria-hidden="true"></i>
                <span>{{ 'continue_with'|trans }} GitHub</span></a>
        {% endif %}
        {% if this.discordEnabled %}
            <a href="{{ path('oauth_discord_connect') }}" class="btn btn__secondary"><i class="fa-brands fa-discord" aria-hidden="true"></i>
                <span>{{ 'continue_with'|trans }} Discord</span></a>
        {% endif %}
        {% if this.keycloakEnabled %}
            <a href="{{ path('oauth_keycloak_connect') }}" class="btn btn__secondary"><i class="fa-solid fa-lock" aria-hidden="true"></i>
                <span>{{ 'continue_with'|trans }} Keycloak</span></a>
        {% endif %}
        {% if this.simpleloginEnabled %}
            <a href="{{ path('oauth_simplelogin_connect') }}" class="btn btn__secondary"><i class="si si-simplelogin" aria-hidden="true"></i>
                <span>{{ 'continue_with'|trans }} SimpleLogin</span></a>
        {% endif %}
        {% if this.zitadelEnabled %}
            <a href="{{ path('oauth_zitadel_connect') }}" class="btn btn__secondary"><i class="fa-solid fa-lock" aria-hidden="true"></i>
                <span>{{ 'continue_with'|trans }} Zitadel</span></a>
        {% endif %}
        {% if this.authentikEnabled %}
            <a href="{{ path('oauth_authentik_connect') }}" class="btn btn__secondary"><i class="si si-authentik" aria-hidden="true"></i>
                <span>{{ 'continue_with'|trans }} Authentik</span></a>
        {% endif %}
        {% if this.azureEnabled %}
            <a href="{{ path('oauth_azure_connect') }}" class="btn btn__secondary"><i class="fa-brands fa-microsoft" aria-hidden="true"></i>
                <span>{{ 'continue_with'|trans }} Microsoft</span></a>
        {% endif %}
        {% if this.privacyPortalEnabled %}
            <a href="{{ path('oauth_privacyportal_connect') }}" class="btn btn__secondary"><i class="fa-brands fa-privacyportal" aria-hidden="true"></i>
                <span>{{ 'continue_with'|trans }} Privacy Portal</span></a>
        {% endif %}
    </div>
    {% if not mbin_sso_only_mode() and mbin_sso_show_first() %}
    <div class="separator separator-show"></div>
    {% endif %}
{% endif %}
