<a href="{{ path('front_magazine', {name: magazine.name}) }}"
   class="{{ html_classes('magazine-inline', {'stretched-link': stretchedLink }) }}"
   title="{{ ('@'~magazine.name)|username(true) }}">
    {% if magazine.icon and showAvatar and (app.user or magazine.isAdult is same as false) %}
        <img class="image-inline {{ magazine.isAdult ? 'image-adult' : '' }}"
             width="30" height="30"
             loading="lazy"
             style="max-width: 30px; max-height: 30px;"
             {% if magazine.isAdult %}data-controller="thumb" data-action="mouseover->thumb#adult_image_hover mouseout->thumb#adult_image_hover_out"{% endif %}
             src="{{ magazine.icon.filePath ? (asset(magazine.icon.filePath)|imagine_filter('avatar_thumb')) : magazine.icon.sourceUrl }}"
             alt="{{ magazine.name ~ ' ' ~ 'icon'|trans|lower }}">
    {% endif %}
    {% if fullName %}
        {{ magazine.name }} {% if magazine.isAdult %}<small class="badge danger">18+</small>{% endif %}
        {% if magazine.postingRestrictedToMods %}
            <i class="fa-solid fa-lock"
               aria-description="{{ 'magazine_posting_restricted_to_mods_warning'|trans }}"
               title="{{ 'magazine_posting_restricted_to_mods_warning'|trans }}"
               aria-describedby="{{ 'magazine_posting_restricted_to_mods_warning'|trans }}"></i>
        {% endif %}
    {% else %}
        {{ magazine.title }}
        {% if magazine.postingRestrictedToMods %}
            <i class="fa-solid fa-lock"
               aria-description="{{ 'magazine_posting_restricted_to_mods_warning'|trans }}"
               title="{{ 'magazine_posting_restricted_to_mods_warning'|trans }}"
               aria-describedby="{{ 'magazine_posting_restricted_to_mods_warning'|trans }}"></i>
        {% endif %}
    {% endif %}
</a>
