{%- set V_TRUE = constant('App\\Controller\\User\\ThemeSettingsController::TRUE') -%}
{%- set V_FALSE = constant('App\\Controller\\User\\ThemeSettingsController::FALSE') -%}

{%- set SHOW_PREVIEW = app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_POSTS_SHOW_PREVIEW'), V_FALSE) -%}

{% if not app.user or (app.user and not app.user.isBlocked(post.user)) %}
    {% if post.visibility is same as 'private' and (not app.user or not app.user.isFollower(post.user)) %}
        <div class="section section--small">
            Private
        </div>
    {% else %}
        <blockquote{{ attributes.defaults({
            class: html_classes('section post subject ', {
                'own': app.user and post.isAuthor(app.user),
                'show-preview': SHOW_PREVIEW is same as V_TRUE and not post.isAdult
            })}).without('id') }}
                id="post-{{ post.id }}"
                data-controller="post subject mentions"
                data-action="notifications:Notification@window->subject#notification">
            <header>
                {% if post.isAdult %}<span class="badge danger">18+</span>{% endif %}
                {{ component('user_inline', {user: post.user, showAvatar: false}) }}

                {% if (post.user.type) == "Service" %}
                    <span class="user-badge">{{ 'user_badge_bot'|trans }}</span>
                {% endif %}

                {% if post.user.admin() %}
                    <span class="user-badge">{{ 'user_badge_admin'|trans }}</span>
                {% elseif post.user.moderator() %}
                    <span class="user-badge">{{ 'user_badge_global_moderator'|trans }}</span>
                {% elseif post.magazine.userIsModerator(post.user) %}
                    <span class="user-badge">{{ 'user_badge_moderator'|trans }}</span>
                {% endif %}
                <span>, </span>
                {% if dateAsUrl %}
                    <a href="{{ post_url(post) }}" id="post-{{ post.id }}-date-link"
                       class="link-muted">{{ component('date', {date: post.createdAt}) }}</a>
                {% else %}
                    {{ component('date', {date: post.createdAt}) }}
                {% endif %}
                {{ component('date_edited', {createdAt: post.createdAt, editedAt: post.editedAt}) }}
                {% if showMagazineName %}{{ 'to'|trans }} {{ component('magazine_inline', {magazine: post.magazine}) }}{% endif %}
                {% if post.lang is not same as app.request.locale and post.lang is not same as kbin_default_lang() %}
                    <small class="badge-lang kbin-bg">{{ post.lang|language_name }}</small>
                {% endif %}
            </header>
            {{ component('user_avatar', {
                user: post.user,
                width: 40,
                height: 40,
                asLink: true
            }) }}
            <div class="content">
                {% if post.visibility in ['visible', 'private'] or (post.visibility is same as 'trashed' and this.canSeeTrashed) %}
                    {{ post.body|markdown|raw }}
                {% elseif(post.visibility is same as 'trashed') %}
                    <p class="text-muted">&lsqb;<i>{{ 'deleted_by_moderator'|trans }}</i>&rsqb;</p>
                {% elseif(post.visibility is same as 'soft_deleted') %}
                    <p class="text-muted">&lsqb;<i>{{ 'deleted_by_author'|trans }}</i>&rsqb;</p>
                {% endif %}
            </div>
            {% if post.visibility in ['visible', 'private'] %}
                {{ component('vote', {
                    subject: post,
                    showDownvote: false
                }) }}
            {% endif %}
            <footer>
                {% if post.image %}
                    {{ include('components/_figure_image.html.twig', {
                        image: post.image,
                        parent_id: post.id,
                        is_adult: post.isAdult,
                        thumb_filter: 'post_thumb'
                    }) }}
                {% endif %}
                {% if post.visibility in ['visible', 'private'] %}
                    <menu>
                        {% if post.sticky %}
                            <li>
                                <span aria-label="{{ 'pinned'|trans }}">
                                    <i class="fa-solid fa-thumbtack" aria-hidden="true"></i>
                                </span>
                            </li>
                        {% endif %}
                        <li>
                            <a class="stretched-link"
                               href="{{ path('post_comment_create', {magazine_name: post.magazine.name, post_id: post.id, slug: post.slug|length ? post.slug : '-'}) }}"
                               data-action="subject#getForm">{{ 'reply'|trans }}</a>
                        </li>
                        {% if not is_route_name('post_single', true) and ((not showCommentsPreview and post.commentCount > 0) or post.commentCount > 2) %}
                            <li data-post-target="expand">
                                <a class="stretched-link"
                                   href="#{{ get_url_fragment(post) }}"
                                   data-action="post#expandComments">{{ 'expand'|trans }} (<span
                                            data-subject-target="commentsCounter">{{ post.commentCount }}</span>)</a>
                            </li>
                            <li data-post-target="collapse"
                                style="display: none">
                                <a class="stretched-link"
                                   href="#{{ get_url_fragment(post) }}"
                                   data-action="post#collapseComments">{{ 'collapse'|trans }}
                                    ({{ post.commentCount }})
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            {{ component('boost', {
                                subject: post
                            }) }}
                        </li>
                        {% include 'post/_menu.html.twig' %}
                        <li data-subject-target="loader" style="display:none">
                            <div class="loader" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </li>
                    </menu>
                    {{ component('voters_inline', {
                        subject: post,
                        url: post_voters_url(post, 'up'),
                        'data-post-target': 'voters'
                    }) }}
                {% elseif(post.visibility is same as 'trashed' and this.canSeeTrashed) %}
                    <menu>
                        <li>
                            <form method="post"
                                  action="{{ path('post_restore', {magazine_name: post.magazine.name, post_id: post.id}) }}"
                                  data-action="confirmation#ask" data-confirmation-message-param="{{ 'are_you_sure'|trans }}">
                                <input type="hidden" name="token" value="{{ csrf_token('post_restore') }}">
                                <button type="submit">{{ 'restore'|trans }}</button>
                            </form>
                        </li>
                        <li data-subject-target="loader" style="display:none">
                            <div class="loader" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </li>
                    </menu>
                {% else %}
                    <menu>
                        <li data-subject-target="loader" style="display:none">
                            <div class="loader" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </li>
                    </menu>
                {% endif %}
                <div data-subject-target="container" class="js-container">
                </div>
            </footer>
        </blockquote>
    {% endif %}
    {% if(showCommentsPreview and post.commentCount) %}
        {{ component('post_comments_preview', {post: post, 'data-post-target': 'preview'}) }}
    {% endif %}
{% endif %}
