{% if rich is same as true %}
<span class="post-comment-inline">
    {{ component('user_inline', {user: comment.user, fullName: userFullName, showNewIcon: true}) }}:
    <a href="{{ path('post_single', {magazine_name: comment.magazine.name, post_id: comment.post.id, slug: comment.post.slug|length ? comment.post.slug : '-'}) }}#post-comment-{{ comment.id }}">
        {% if comment.image is not same as null %}
            <i class="fa-solid fa-photo-film"></i>
        {% endif %}
        {{ comment.getShortTitle() }}
    </a>
    {{ 'answered'|trans }}
    {% if comment.parent is not same as null %}
        <a href="{{ path('post_single', {magazine_name: comment.magazine.name, post_id: comment.post.id, slug: comment.post.slug|length ? comment.post.slug : '-'}) }}#post-comment-{{ comment.parent.id }}">
            {{ comment.parent.getShortTitle() }}
        </a>
        {{ 'by'|trans }}
        {{ component('user_inline', {user: comment.parent.user, fullName: userFullName, showNewIcon: true}) }}
    {% else %}
        <a href="{{ path('post_single', {magazine_name: comment.magazine.name, post_id: comment.post.id, slug: comment.post.slug|length ? comment.post.slug : '-'}) }}">
            {% if comment.post.image is not same as null %}
                <i class="fa-solid fa-photo-film"></i>
            {% endif %}
            {{ comment.post.getShortTitle() }}
        </a>
        {{ 'by'|trans }}
        {{ component('user_inline', {user: comment.post.user, fullName: userFullName, showNewIcon: true}) }}
    {% endif %}
    {% if comment.magazine.name is not same as 'random' %}
        {{ 'in'|trans }}
        {{ component('magazine_inline', {magazine: comment.magazine, fullName: magazineFullName, showNewIcon: true}) }}
    {% endif %}
</span>
{% else %}
    <a href="{{ path('post_single', {magazine_name: comment.magazine.name, post_id: comment.post.id, slug: comment.post.slug|length ? comment.post.slug : '-'}) }}#post-comment-{{ comment.id }}">
        {% if comment.apId is same as null %}
            {{ url('post_single', {magazine_name: comment.magazine.name, post_id: comment.post.id, slug: '-'}) }}#post-comment-{{ comment.id }}
        {% else %}
            {{ comment.apId }}
        {% endif %}
    </a>
{% endif %}
