{%- set V_TRUE = constant('App\\Controller\\User\\ThemeSettingsController::TRUE') -%}
{%- set V_FALSE = constant('App\\Controller\\User\\ThemeSettingsController::FALSE') -%}
{%- set SHOW_MAGAZINE_FULLNAME = app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::MBIN_SHOW_MAGAZINE_DOMAIN'), V_FALSE) -%}
{% if posts|length %}
    <section{{ attributes.defaults({class: 'posts section'}) }}>
        <h3>{{ title|trans }}</h3>
        <div class="container">
            {% for post in posts %}
                <figure>
                    <div class="row">
                        {% if post.image %}
                                <img loading="lazy"
                                    src="{{ post.image.filePath ? (asset(post.image.filePath)|imagine_filter('post_thumb')) : post.image.sourceUrl }}"
                                    alt="{{ post.image.alt|default('') }}">
                        {% endif %}
                        {% if post.body %}
                            <blockquote class="content">
                                {{ get_short_sentence(post.body)|markdown|raw }}
                            </blockquote>
                        {% endif %}
                        <a href="{{ post_url(post) }}" class="stretched-link more">{{ 'show_more'|trans }}</a>
                    </div>
                    <figcaption>
                        {{ component('date', {date: post.createdAt}) }} {{ 'to'|trans }} {{ component('magazine_inline', {magazine: post.magazine, fullName: SHOW_MAGAZINE_FULLNAME is same as V_TRUE, showNewIcon: true}) }}
                    </figcaption>
                </figure>
            {% endfor %}
        </div>
    </section>
{% endif %}
