<figure{{ attributes }}>
    {% if asLink %}
    <a data-action="mouseover->mentions#userPopup mouseout->mentions#userPopupOut" data-mentions-username-param="{{ mention_url(user.username) }}"
       href="{{ path('user_overview', {username: user.username}) }}">
        {% endif %}
        {% if user.avatar %}
            <img class="image-inline"
                 loading="lazy"
                 width="{{ width }}" height="{{ height }}"
                 style="max-width: {{ width }}px; max-height: {{ height }}px;"
                 src="{{ user.avatar.filePath ? (asset(user.avatar.filePath)|imagine_filter('avatar_thumb')) : user.avatar.sourceUrl }}"
                 alt="{{ user.username ~' '~ 'avatar'|trans|lower }}">
        {% else %}
            <div class="no-avatar"></div>
        {% endif %}
        {% if asLink %}
    </a>
    {% endif %}
</figure>
