<a href="{{ path('user_overview', {username: user.username}) }}"
   data-action="mouseover->mentions#user_popup mouseout->mentions#user_popup_out"
   data-mentions-username-param="{{ user.username }}"
   class="user-inline"
   title="{{ user.username|username(true) }}">
    {% if user.avatar and showAvatar %}
        <img class="image-inline"width="30" height="30" loading="lazy"
         src="{{ user.avatar.filePath ? (asset(user.avatar.filePath) | imagine_filter('avatar_thumb')) : user.avatar.sourceUrl }}"
         alt="{{ user.username ~' '~ 'avatar'|trans|lower }}">
    {% elseif showAvatar %}
        {% set numericDigits = {
        'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 7, 'h': 8, 'i': 9, 'j': 10, 'k': 11, 'l': 12, 'm': 13, 'n': 14, 'o': 15, 'p': 16,
        'q': 17, 'r': 18, 's': 19, 't': 20, 'u': 21, 'v': 22, 'w': 23, 'x': 24, 'y': 25, 'z': 26, 'A': 27, 'B': 28, 'C': 29, 'D': 30, 'E': 31,
        'F': 32, 'G': 33, 'H': 34, 'I': 35, 'J': 36, 'K': 37, 'L': 38, 'M': 39, 'N': 40, 'O': 41, 'P': 42, 'Q': 43, 'R': 44, 'S': 45, 'T': 46,
        'U': 47, 'V': 48, 'W': 49, 'X': 50, 'Y': 51, 'Z': 52, '0': 53, '1': 54, '2': 55, '3': 56, '4': 57, '5': 58, '6': 59, '7': 60, '8': 61,
        '9': 62, '_': 63, '-': 64 } %}

        {% set validChars = '' %}
        {% for char in user.username|split('') %}
        {% if char in numericDigits|keys %}
        {% set validChars = validChars ~ char %}
        {% endif %}
        {% endfor %}
        {% set validChars = validChars ~ "012345" %}

        {# Calculate hue rotation #}
        {% set hueChars = validChars|slice(0, 4) %}
        {% set sum = 0 %}
        {% for char in hueChars|split('') %}
            {% set sum = sum + numericDigits[char] %}
        {% endfor %}
        {% set hueRotation = (sum / 256) * 360 %}

        {# Calculate saturation #}
        {% set satChars = validChars|slice(4, 2) %}
        {% set sum = 0 %}
        {% for char in satChars|split('') %}
            {% set sum = sum + numericDigits[char] %}
        {% endfor %}
        {% set saturation = 0.3 + (sum / 128) * 0.7 %}

        {% if app.user is defined and app.user is not same as null and app.user is same as user %}
            {% set noAvatar = "you can set your avatar in your profile" %}
        {% else %}
            {% set noAvatar = user.username ~ " has no avatar" %}
        {% endif %}

        <img class="image-inline"
        width="30" height="30" loading="lazy" src="/default_avatar.png" title="{{ noAvatar }}" alt="{{ noAvatar }}"  style="filter: saturate({{ saturation }}) hue-rotate({{ hueRotation }}deg) contrast(0.9999);">
    {% endif %}

    {{ user.apPreferredUsername ?? user.username|username -}}
    {%- if fullName is defined and fullName is same as true -%}
        @{{- user.username|apDomain -}}
    {%- endif -%}
    {% if user.isNew() %}
        {% set days = constant('App\\Entity\\User::NEW_FOR_DAYS') %}
        <i class="fa-solid fa-leaf new-user-icon" title="{{ 'new_user_description'|trans({ '%days%': days }) }}" aria-description="{{ 'new_user_description'|trans({ '%days%': days }) }}"></i>
    {% endif %}
</a>
