<div{{ attributes.defaults({class: 'user-box'}) }}>
    <div class="{{ html_classes({'with-cover': user.cover, 'with-avatar': user.avatar }) }}">
        {% if user.cover %}
          {% if app.user is same as user and is_route_name_starts_with('user') and not is_route_name_contains('settings') %}
            <a href="{{ path('user_settings_profile') }}" title="{{ 'change_my_cover'|trans }}" aria-label="{{ 'change_my_cover'|trans }}">
          {% endif %}
            <img class="cover image-inline"
                 height="220"
                 width="100%"
                 loading="lazy"
                 src="{{ user.cover.filePath ? (asset(user.cover.filePath)|imagine_filter('user_cover')) : user.cover.sourceUrl }}"
                 alt="{{ user.username ~' '~ 'cover'|trans|lower  }}">
          {% if app.user is same as user and is_route_name_starts_with('user') and not is_route_name_contains('settings') %}
            </a>
          {% endif %}
        {% endif %}
        <div class="user-main" id="content">
            <div>
                <div class="row">
                    {% if user.avatar %}
                      {% if app.user is same as user and is_route_name_starts_with('user') and not is_route_name_contains('settings') %}
                        <a href="{{ path('user_settings_profile') }}" title="{{ 'change_my_avatar'|trans }}" aria-label="{{ 'change_my_avatar'|trans }}">
                      {% endif %}
                        {{ component('user_avatar', {
                            user: user,
                            width: 100,
                            height: 100
                        }) }}
                      {% if app.user is same as user and is_route_name_starts_with('user') and not is_route_name_contains('settings') %}
                        </a>
                      {% endif %}
                    {% endif %}
                    {% if stretchedLink %}
                        <h1>
                            <a class="link-muted stretched-link"
                              href="{{ path('user_overview', {'username': user.username}) }}">{{ user.username|username(false) }}</a>

                            {% if (user.type) == "Service" %}
                              <code title="{{ 'user_badge_bot'|trans }}">{{ 'user_badge_bot'|trans }}</code>
                            {% endif %}

                            {% if user.admin() %}
                              <code title="{{ 'user_badge_admin'|trans }}">{{ 'user_badge_admin'|trans }}</code>
                            {% elseif user.moderator() %}
                              <code title="{{ 'user_badge_global_moderator'|trans }}">{{ 'user_badge_global_moderator'|trans }}</code>
                            {% endif %}
                        </h1>
                    {% else %}
                        <h1>
                            {{ user.apPreferredUsername ?? user.username|username(false) }}

                            {% if (user.type) == "Service" %}
                                <code title="{{ 'user_badge_bot'|trans }}">{{ 'user_badge_bot'|trans }}</code>
                            {% endif %}

                            {% if user.admin() %}
                                <code title="{{ 'user_badge_admin'|trans }}">{{ 'user_badge_admin'|trans }}</code>
                            {% elseif user.moderator() %}
                                <code title="{{ 'user_badge_global_moderator'|trans }}">{{ 'user_badge_global_moderator'|trans }}</code>
                            {% endif %}

                            {% set instance = get_instance_of_user(user) %}
                            {% if false and instance is not same as null %}
                                <code title="{{ 'server_software'|trans }}">{{ instance.software }}{% if instance.version is not same as null %} v{{ instance.version }}{% endif %}</code>
                            {% endif %}
                        </h1>
                    {% endif %}
                    <small>
                        {{ user.username|username(true) }}
                        {% if user.apManuallyApprovesFollowers is same as true %}
                            <i class="fa-solid fa-lock" aria-description="{{ 'manually_approves_followers'|trans }}" title="{{ 'manually_approves_followers'|trans }}" aria-describedby="{{ 'manually_approves_followers'|trans }}"></i>
                        {% endif %}
                    </small>
                </div>
                {{ component('user_actions', {user: user}) }}
            </div>
        </div>
        {% if user.about|length %}
            <div class="about">
                <div class="content">
                    {{ user.about|markdown|raw }}
                </div>
            </div>
        {% endif %}
    </div>
</div>
