<aside{{ attributes.defaults({class: 'user__actions', 'data-controller': 'subs'}) }}>
    <div class="action"
        title="{{ user.followersCount ~ ' ' ~ 'followers_count'|trans({'%count%': user.followersCount}) }}"
        aria-label="{{ user.followersCount ~ ' ' ~ 'followers_count'|trans({'%count%': user.followersCount}) }}">
        <i class="fa-solid fa-users" aria-hidden="true"></i><span>{{ user.followersCount }}</span>
    </div>
    {% if not app.user or app.user is not same as user %}
        <form action="{{ path('user_' ~ (is_user_followed(user) ? 'unfollow' : 'follow'), {username: user.username}) }}"
              name="user_follow"
              method="post">
            <button type="submit"
                    class="{{ html_classes('btn btn__secondary action', {'active': is_user_followed(user)}) }}"
                    data-action="subs#send">
            {% if is_user_followed(user) %}
                    <i class="fa-solid fa-user-minus" aria-hidden="true"></i> <span>{{'unfollow'|trans}}</span>
            {% else %}
                    <i class="fa-solid fa-user-plus" aria-hidden="true"></i> <span>{{'follow'|trans}}</span>
            {% endif %}

            </button>
            <input type="hidden" name="token" value="{{ csrf_token('follow') }}">
        </form>
        <form action="{{ path('user_' ~ (is_user_blocked(user) ? 'unblock' : 'block'), {username: user.username}) }}"
              name="user_block"
              method="post">
            <button type="submit"
                    class="{{ html_classes('btn btn__secondary action', {'active': is_user_blocked(user)}) }}"
                    data-action="subs#send">

            {% if is_user_blocked(user) %}
                    <i class="fa-solid fa-user" aria-hidden="true"></i> <span>{{'unblock'|trans}}</span>
            {% else %}
                    <i class="fa-solid fa-user-slash" aria-hidden="true"></i> <span>{{'block'|trans}}</span>
            {% endif %}

            </button>
            <input type="hidden" name="token" value="{{ csrf_token('block') }}">
        </form>
        <a href="{{ path('messages_create', {username: user.username}) }}" title="{{ 'direct_message'|trans }}" aria-label="{{ 'direct_message'|trans }}">
            <button class="btn btn__secondary">
                <i class="fa-solid fa-envelope" aria-hidden="true"></i>
            </button>
        </a>
    {% elseif app.user is same as user and is_route_name_starts_with('user') and not is_route_name_contains('settings') %}
        <a href="{{ path('user_settings_profile') }}" title="{{ 'edit_my_profile'|trans }}" aria-label="{{ 'edit_my_profile'|trans }}">
            <button class="btn btn__secondary">{{ 'edit_my_profile'|trans }}</button>
        </a>
    {% endif %}

    {% if user.markedForDeletionAt and is_granted("ROLE_ADMIN") %}
        <div class="action"
             title="{{ 'marked_for_deletion_at'|trans({ '%date%': user.markedForDeletionAt|date }) }}"
             aria-label="{{ 'marked_for_deletion_at'|trans({ '%date%': user.markedForDeletionAt|date }) }}">
            <i class="fa-solid fa-trash" aria-hidden="true"></i>
            <span>
                {{ 'marked_for_deletion'|trans }}
                <time datetime="{{ user.markedForDeletionAt|date('Y-m-d h:i:s') }}" class="timeago">{{ user.markedForDeletionAt|date }}</time>
            </span>
        </div>
    {% endif %}
</aside>
