<div id="content" class="section">
    <div style="margin-bottom: 1rem;">
        {% include 'stats/_filters.html.twig' %}
    </div>
    <div class="stats-count">
        <div>
            <h3>{{ 'users'|trans|upper }}</h3>
            <p>{{ users|abbreviateNumber }}</p>
        </div>
        <div>
            <h3>{{ 'magazines'|trans|upper }}</h3>
            <p>{{ magazines|abbreviateNumber }}</p>
        </div>
        <div>
            <h3>{{ 'votes'|trans|upper }}</h3>
            <p>{{ votes|abbreviateNumber }}</p>
        </div>
        <div>
            <h3>{{ 'threads'|trans|upper }}</h3>
            <p>{{ entries|abbreviateNumber }}</p>
        </div>
        <div>
            <h3>{{ 'comments'|trans|upper }}</h3>
            <p>{{ comments|abbreviateNumber }}</p>
        </div>
        <div>
            <h3>{{ 'posts'|trans|upper }}</h3>
            <p>{{ posts|abbreviateNumber }}</p>
        </div>
    </div>
</div>
