<li class="dropdown">
    <button class="stretched-link" data-subject-target="more">{{ 'more'|trans }}</button>
    <ul class="dropdown__menu" data-controller="clipboard">
        <li>
            <a href="{{ path('entry_comment_report', {id: comment.id}) }}"
                class="{{ html_classes({'active': is_route_name('entry_comment_report')}) }}"
                data-action="subject#getForm">
                {{ 'report'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ entry_comment_voters_url(comment, 'up') }}"
                class="{{ html_classes({'active': is_route_name('entry_comment_favourites') or is_route_name('entry_comment_voters')}) }}">
                {{ 'activity'|trans }}
            </a>
        </li>
        <li class="dropdown__separator"></li>
        <li>
            <a target="_blank"
                rel="{{ get_rel(comment.apId ?? path('ap_entry_comment', {magazine_name: comment.magazine.name, entry_id: comment.entry.id, comment_id: comment.id})) }}"
                href="{{ comment.apId ?? path('ap_entry_comment', {magazine_name: comment.magazine.name, entry_id: comment.entry.id, comment_id: comment.id}) }}">
                {{ 'open_url_to_fediverse'|trans }}
            </a>
        </li>
        <li>
            <a data-action="clipboard#copy"
                rel="{{ get_rel(comment.apId ?? path('ap_entry_comment', {magazine_name: comment.magazine.name, entry_id: comment.entry.id, comment_id: comment.id})) }}"
                href="{{ comment.apId ?? path('ap_entry_comment', {magazine_name: comment.magazine.name, entry_id: comment.entry.id, comment_id: comment.id}) }}">
                {{ 'copy_url_to_fediverse'|trans }}
            </a>
        </li>
        <li>
            <a data-action="clipboard#copy"
                href="{{ entry_comment_view_url(comment) }}#{{ get_url_fragment(comment) }}">
                {{ 'copy_url'|trans }}
            </a>
        </li>
        {% if is_granted('edit', comment) or (app.user and comment.isAuthor(app.user)) or is_granted('moderate', comment) %}
            <li class="dropdown__separator"></li>
        {% endif %}
        {% if is_granted('edit', comment) %}
            <li>
                <a href="{{ entry_comment_edit_url(comment) }}"
                    class="{{ html_classes({'active': is_route_name('entry_comment_edit')}) }}"
                    data-action="subject#getForm">
                    {{ 'edit'|trans }}
                </a>
            </li>
        {% endif %}
        {% if app.user and comment.isAuthor(app.user) %}
            <li>
                <form method="post"
                        action="{{ entry_comment_delete_url(comment) }}"
                        data-action="confirmation#ask" data-confirmation-message-param="{{ 'are_you_sure'|trans }}">
                    <input type="hidden" name="token"
                            value="{{ csrf_token('entry_comment_delete') }}">
                    <button type="submit">{{ 'delete'|trans }}</button>
                </form>
            </li>
        {% endif %}
        {% if is_granted('moderate', comment) %}
            <li>
                <a href="{{ entry_comment_moderate_url(comment) }}"
                    class="{{ html_classes({'active': is_route_name('entry_comment_moderate')}) }}"
                    data-action="subject#showModPanel">
                    {{ 'moderate'|trans }}
                </a>
            </li>
        {% endif %}
    </ul>
</li>
