<div class="moderate-panel">
    <menu>
        <li>
            <form action="{{ path('entry_comment_change_adult', {magazine_name: magazine.name, entry_id: entry.id, comment_id: comment.id}) }}"
                  method="post">
                <input type="hidden" name="token" value="{{ csrf_token('change_adult') }}">
                <input name="adult"
                       type="hidden" value="{{ comment.isAdult ? 'off' : 'on' }}">
                <button type="submit" class="btn btn__secondary">
                    <i class="fa fa-{{ comment.isAdult ? 'eye' : 'eye-slash' }}"></i> <span>{{ comment.isAdult ? 'unmark_as_adult'|trans : 'mark_as_adult'|trans }}</span>
                </button>
            </form>
        </li>
        <li>
            <form action="{{ path('magazine_panel_ban', {'name': comment.magazine.name, 'username': comment.user.username}) }}"
                  method="get">
                <button type="submit" class="btn btn__secondary">
                    <i class="fa fa-ban"></i> <span>{{ 'ban'|trans }}</span>
                </button>
            </form>
        </li>
        <li>
            <form action="{{ entry_comment_delete_url(comment) }}"
                  method="post"
                  data-action="confirmation#ask" data-confirmation-message-param="{{ 'are_you_sure'|trans }}">
                <input type="hidden" name="token" value="{{ csrf_token('entry_comment_delete') }}">
                <button type="submit" class="btn btn__secondary">
                    <i class="fa fa-dumpster"></i> <span>{{ 'delete'|trans }}</span>
                </button>
            </form>
        </li>
        {% if is_granted('purge', comment) %}
            <li>
                <form action="{{ path('entry_comment_purge', {magazine_name: comment.magazine.name, entry_id: comment.entry.id, comment_id: comment.id}) }}"
                      method="post"
                      data-action="confirmation#ask" data-confirmation-message-param="{{ 'are_you_sure'|trans }}">
                    <input type="hidden" name="token" value="{{ csrf_token('entry_comment_purge') }}">
                    <button type="submit" class="btn btn__danger">
                        <i class="fa fa-dumpster"></i> <span>{{ 'purge'|trans }}</span>
                    </button>
                </form>
            </li>
        {% endif %}
        <li class="actions">
            {{ form_start(form, {action: path('entry_comment_change_lang', {magazine_name: magazine.name, entry_id: entry.id, comment_id: comment.id})}) }}
            {{ form_row(form.lang, {label: false, row_attr: {class: 'checkbox'}}) }}
            {{ form_row(form.submit, {label: 'change_language'|trans, attr: {class: 'btn btn__secondary'}}) }}
            {{ form_end(form) }}
        </li>
    </menu>
</div>
