{%- set V_TRUE = constant('App\\Controller\\User\\ThemeSettingsController::TRUE') -%}
{%- set V_FALSE = constant('App\\Controller\\User\\ThemeSettingsController::FALSE') -%}

{%- set DYNAMIC_LISTS = app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_GENERAL_DYNAMIC_LISTS'), V_FALSE) -%}
{%- set SHOW_COMMENT_USER_AVATARS = app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_COMMENTS_SHOW_USER_AVATAR'), V_TRUE) -%}

{% extends 'base.html.twig' %}

{%- block title -%}
    {{- 'comments'|trans }} - {{ entry.title }} - {{ parent() -}}
{%- endblock -%}

{% block stylesheets %}
    {{ parent() }}

    <style>
        #entry-comment-{{comment.id}} {
            background: linear-gradient(to right, var(--kbin-section-bg), var(--kbin-boosted-color) 900%);
        }
    </style>
{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    {{ component('entry', {
        entry: entry,
        isSingle: true,
        showShortSentence: false,
        showBody:false
    }) }}
    <div class="alert alert__info">
        <p>{{ 'browsing_one_thread'|trans }}</p>
        <p><a href="{{ entry_url(entry) }}"><i class="fa-solid fa-arrow-left" aria-hidden="true"></i> {{ 'return'|trans }}</a></p>
    </div>
    {% set autoAction = 'notifications:EntryCommentCreatedNotification@window->subject-list#addComment' %}
    {% set manualAction = 'notifications:EntryCommentCreatedNotification@window->subject-list#increaseCounter' %}
    <div class="{{ html_classes('comments entry-comments comments-tree', {
        'show-comment-avatar' : SHOW_COMMENT_USER_AVATARS is same as V_TRUE
        }) }}"
        data-controller="subject-list"
        data-action="{{- DYNAMIC_LISTS is same as V_TRUE ? autoAction : manualAction -}}">
        {{ component('entry_comment', {
            comment: comment.root ?? comment,
            showEntryTitle: false,
            showMagazineName: false,
            showNested: true,
        }) }}
    </div>
{% endblock %}
