<div class="media" data-controller="image-upload">
    <div class="image-preview-container">
        <img class="image-preview" src="#">
        <button type="button" class="image-preview-clear" data-action="image-upload#clearPreview">x</button>
    </div>
    <div style="width:300px;">
        {% if form.image is defined %}
            {{ form_row(form.image, {label: 'image', attr: {class: 'image-input'}}) }}
        {% endif %}
        {% if maxSize is defined %}
            <div>{{ 'max_image_size'|trans }}: {{ maxSize }}</div>
        {% endif %}
        <div hidden>
            {{ form_row(form.imageUrl, {label: 'url'}) }}
        </div>
        {{ form_row(form.imageAlt, {label: 'image_alt'}) }}
    </div>
</div>
