{% set activeLink = '' %}

{% if (is_route_name_contains('people') or is_route_name_starts_with('user')) and not is_route_name_contains('settings') %}
    {% set activeLink = 'people' %}
{% elseif is_route_name('magazine_list_all') %}
    {% set activeLink = 'magazines' %}
{% elseif criteria is defined %}
    {% if criteria.getOption('content') == 'threads' %}
        {% set activeLink = 'threads' %}
    {% elseif criteria.getOption('content') == 'microblog' %}
        {% set activeLink = 'microblog' %}
    {% endif %}
{% endif %}

{% if header_nav is empty %}
    <li>
        <a href="
            {% if magazine is defined and magazine %}
                {% if is_route_name_starts_with('front') %}
                    {{ options_url('content', 'threads', 'front_magazine', {'name': magazine.name}) }}
                {% else %}
                    {{ navbar_threads_url(magazine) }}
                {% endif %}
            {% else %}
                {% if is_route_name_starts_with('front') %}
                    {{ options_url('content', 'threads', 'front') }}
                {% else %}
                    {{ navbar_threads_url(null) }}
                {% endif %}
            {% endif %}
        " class="{{ html_classes({'active': activeLink == 'threads'}) }}">    
            {{ 'threads'|trans }} {% if magazine is defined and magazine %}({{ magazine.entryCount }}){% endif %}
        </a>
    </li>
    <li>
        <a href=" 
            {% if magazine is defined and magazine %}
                {% if is_route_name_starts_with('front') %}
                    {{ options_url('content', 'microblog', 'front_magazine', {'name': magazine.name}) }}
                {% else %}
                    {{ navbar_posts_url(magazine) }}
                {% endif %}
            {% else %}
                {% if is_route_name_starts_with('front') %}
                    {{ options_url('content', 'microblog', 'front') }}
                {% else %}
                    {{ navbar_posts_url(null) }}
                {% endif %}
            {% endif 
        %}" class="{{ html_classes({'active': activeLink == 'microblog'}) }}">
            {{ 'microblog'|trans }} {% if magazine is defined and magazine %}({{ magazine.postCount }}){% endif %}
        </a>
    </li>
    <li>
        <a href="{{ navbar_people_url(magazine ?? null) }}"
           class="{{ html_classes({'active': activeLink == 'people'}) }}">
            {{ 'people'|trans }}
        </a>
    </li>
    {% if app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_GENERAL_TOPBAR')) is not same as 'true' %}
        <li>
            <a href="{{ path('magazine_list_all') }}"
               class="{{ html_classes({'active': activeLink == 'magazines'}) }}">
                {{ 'magazines'|trans }}
            </a>
        </li>
    {% endif %}
{% else %}
    {{ header_nav|raw }}
{% endif %}
