{% set filter_option = criteria is defined ? criteria.getOption('subscription') : null %}

{% if magazine is defined and magazine %}
    <div class="head-title">
        <span>/m/</span><a href="{{ path('front_magazine', {name: magazine.name}) }}">{{ magazine.name }}</a>
    </div>
{% elseif is_route_name_starts_with('domain_') %}
    <div class="head-title">
        <span>/d/</span><a href="{{ path('domain_entries', {name: domain.name}) }}">{{ domain.name }}</a>
    </div>
{% elseif tag is defined and tag %}
    <div class="head-title">
        <span>#</span><a href="{{ path('tag_overview', {name: tag}) }}">{{ tag }}</a>
    </div>
{% elseif filter_option == 'subscribed' or is_route_name_end_with('_subscribed') %}
    <div class="head-title">
        <span>/</span><a href="{{ '/sub/' }}">sub</a>
    </div>
{% elseif filter_option == 'favourites' or is_route_name_end_with('_favourite') %}
    <div class="head-title">
        <span>/</span><a href="{{ '/fav/' }}">fav</a>
    </div>
{% elseif filter_option == 'moderated' or is_route_name_end_with('_moderated') %}
    <div class="head-title">
        <span>/</span><a href="{{ '/mod/' }}">mod</a>
    </div>
{% endif %}
