{%- set V_TRUE = constant('App\\Controller\\User\\ThemeSettingsController::TRUE') -%}
{%- set V_FALSE = constant('App\\Controller\\User\\ThemeSettingsController::FALSE') -%}
{%- set SHOW_MAGAZINE_FULLNAME = app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::MBIN_SHOW_MAGAZINE_DOMAIN'), V_FALSE) -%}
{% if actor is not defined %}
    {% set actor = 'magazine' %}
{% endif %}

{% if list|length %}
    <div class="section magazines magazines-columns">
        <ul>
            {% for subject in list %}
                <li>
                    {% if attribute(subject, actor).icon and attribute(subject, actor).icon.filePath and (app.user or attribute(subject, actor).isAdult is same as false) %}
                        <figure>
                            <img width="32" height="32"
                                 loading="lazy"
                                 class="image-inline {{ attribute(subject, actor).isAdult ? 'image-adult' : '' }}"
                                 src="{{ asset(attribute(subject, actor).icon.filePath) | imagine_filter('avatar_thumb') }}"
                                 {% if attribute(subject, actor).isAdult %}data-controller="thumb" data-action="mouseover->thumb#adultImageHover mouseout->thumb#adultImageHoverOut"{% endif %}
                                 alt="{{ attribute(subject, actor).name ~' '~ 'icon'|trans|lower }}">
                        </figure>
                    {% endif %}
                    <div>
                        <a href="{{ path('front_magazine', {name: attribute(subject, actor).name}) }}"
                           class="stretched-link">
                            {{ attribute(subject, actor).name }}
                            {%- if SHOW_MAGAZINE_FULLNAME is same as V_TRUE -%}
                                @{{- attribute(subject, actor).name|apDomain -}}
                            {%- endif -%}
                            {% if attribute(subject, actor).isAdult %}<small class="badge danger">18+</small>{% endif %}
                        </a>
                        <small>{{ component('date', {date: subject.createdAt}) }}</small>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% if(list.haveToPaginate is defined and list.haveToPaginate) %}
        {{ pagerfanta(list, null, {'pageParameter':'[p]'}) }}
    {% endif %}
{% else %}
    <aside class="section section--muted">
        <p>{{ 'empty'|trans }}</p>
    </aside>
{% endif %}
