<div class="settings-list">
    <div class="reload-required-section">
        <button data-action="options#appearanceReloadRequired:prevent" class="btn btn-link">
            <i class="fa fa-refresh" aria-hidden="true"></i>{{ 'reload_to_apply'|trans }}
        </button>
    </div>
    <strong>{{ 'general'|trans }}</strong>
    <div class="settings-section">
        {{ component('settings_row_enum', {label: 'sidebar_position'|trans, settingsKey: 'KBIN_GENERAL_SIDEBAR_POSITION', values: [ {name: 'left'|trans , value: 'LEFT'}, {name: 'right'|trans , value: 'RIGHT' } ], defaultValue: 'RIGHT' } ) }}
        {{ component('settings_row_enum', {label: 'page_width'|trans, settingsKey: 'KBIN_PAGE_WIDTH', values: [ {name: 'page_width_max'|trans , value: 'MAX'}, {name: 'page_width_auto'|trans , value: 'AUTO' }, {name: 'page_width_fixed'|trans , value: 'FIXED' } ], defaultValue: 'FIXED', class: 'width-setting' } ) }}
        {{ component('settings_row_enum', {label: 'filter_labels'|trans, settingsKey: 'KBIN_GENERAL_FILTER_LABELS', values: [ {name: 'on'|trans , value: 'ON'}, {name: 'auto'|trans , value: 'AUTO' }, {name: 'off'|trans , value: 'OFF' } ], defaultValue: 'ON' } ) }}
        {% if kbin_mercure_enabled() %}
            {{ component('settings_row_switch', {label: 'dynamic_lists'|trans, settingsKey: 'KBIN_GENERAL_DYNAMIC_LISTS'}) }}
        {% endif %}
        {{ component('settings_row_switch', {label: 'rounded_edges'|trans, settingsKey: 'KBIN_GENERAL_ROUNDED_EDGES', defaultValue: true}) }}
        {{ component('settings_row_switch', {label: 'infinite_scroll'|trans, help: 'infinite_scroll_help'|trans ,  settingsKey: 'KBIN_GENERAL_INFINITE_SCROLL'}) }}
        {{ component('settings_row_switch', {label: 'sticky_navbar'|trans, help: 'sticky_navbar_help'|trans,  settingsKey: 'KBIN_GENERAL_FIXED_NAVBAR'}) }}
        {{ component('settings_row_switch', {label: 'show_top_bar'|trans, settingsKey: 'KBIN_GENERAL_TOPBAR'}) }}
        {{ component('settings_row_switch', {label: 'show_related_magazines'|trans, settingsKey: 'MBIN_GENERAL_SHOW_RELATED_MAGAZINES', defaultValue: 'true'}) }}
        {{ component('settings_row_switch', {label: 'show_related_entries'|trans, settingsKey: 'MBIN_GENERAL_SHOW_RELATED_ENTRIES', defaultValue: 'true'}) }}
        {{ component('settings_row_switch', {label: 'show_related_posts'|trans, settingsKey: 'MBIN_GENERAL_SHOW_RELATED_POSTS', defaultValue: 'true'}) }}
        {{ component('settings_row_switch', {label: 'show_active_users'|trans, settingsKey: 'MBIN_GENERAL_SHOW_ACTIVE_USERS', defaultValue: 'true'}) }}
        {{ component('settings_row_switch', {label: 'show_user_domains'|trans, settingsKey: 'MBIN_SHOW_USER_DOMAIN', defaultValue: false}) }}
        {{ component('settings_row_switch', {label: 'show_magazine_domains'|trans, settingsKey: 'MBIN_SHOW_MAGAZINE_DOMAIN', defaultValue: false}) }}
    </div>
    {% if app.user is defined and app.user is not same as null %}
        <strong>{{ 'subscriptions'|trans }}</strong>
        <div class="settings-section">
            {{ component('settings_row_switch', {label: 'show_subscriptions'|trans, settingsKey: 'KBIN_SUBSCRIPTIONS_SHOW', defaultValue: 'true'}) }}
            {{ component('settings_row_switch', {label: 'show_magazines_icons'|trans, settingsKey: 'KBIN_SUBSCRIPTIONS_SHOW_MAGAZINE_ICON', defaultValue: 'true'}) }}
            {% if app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_SUBSCRIPTIONS_SHOW')) is not same as 'false' %}
                {{ component('settings_row_enum', {label: 'subscription_sort'|trans, settingsKey: 'KBIN_SUBSCRIPTIONS_SORT', values: [ {name: 'alphabetically'|trans , value: 'ALPHABETICALLY'}, {name: 'last_active'|trans , value: 'LAST_ACTIVE' } ], defaultValue: 'LAST_ACTIVE'}) }}
                {{ component('settings_row_switch', {label: 'subscriptions_in_own_sidebar'|trans, settingsKey: 'KBIN_SUBSCRIPTIONS_IN_SEPARATE_SIDEBAR'}) }}
                {% if app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_SUBSCRIPTIONS_IN_SEPARATE_SIDEBAR')) is same as 'true' %}
                    {{ component('settings_row_switch', {label: 'sidebars_same_side'|trans, settingsKey: 'KBIN_SUBSCRIPTIONS_SIDEBARS_SAME_SIDE'}) }}
                {% else %}
                    {{ component('settings_row_switch', {label: 'subscription_panel_large'|trans, settingsKey: 'KBIN_SUBSCRIPTIONS_LARGE_PANEL'}) }}
                {% endif %}
            {% endif %}
        </div>
    {% endif %}
    <strong>{{ 'threads'|trans }}</strong>
    <div class="settings-section">
        {{ component('settings_row_switch', {label: 'auto_preview'|trans, help: 'auto_preview_help'|trans,  settingsKey: 'KBIN_ENTRIES_SHOW_PREVIEW'}) }}
        {{ component('settings_row_switch', {label: 'compact_view'|trans, help: 'compact_view_help'|trans, settingsKey: 'KBIN_ENTRIES_COMPACT'}) }}
        {{ component('settings_row_switch', {label: 'show_users_avatars'|trans, help: 'show_users_avatars_help'|trans, settingsKey: 'KBIN_ENTRIES_SHOW_USERS_AVATARS', defaultValue: true}) }}
        {{ component('settings_row_switch', {label: 'show_magazines_icons'|trans, help: 'show_magazines_icons_help'|trans, settingsKey: 'KBIN_ENTRIES_SHOW_MAGAZINES_ICONS', defaultValue: true}) }}
        {{ component('settings_row_switch', {label: 'show_thumbnails'|trans, help: 'show_thumbnails_help'|trans, settingsKey: 'KBIN_ENTRIES_SHOW_THUMBNAILS', defaultValue: true}) }}
        {{ component('settings_row_switch', {label: 'image_lightbox_in_list'|trans, help: 'image_lightbox_in_list_help'|trans, settingsKey: 'MBIN_LIST_IMAGE_LIGHTBOX', defaultValue: true}) }}
        {{ component('settings_row_switch', {label: 'show_rich_mention'|trans, help: 'show_rich_mention_help'|trans, settingsKey: 'MBIN_ENTRIES_SHOW_RICH_MENTION', defaultValue: true}) }}
        {{ component('settings_row_switch', {label: 'show_rich_mention_magazine'|trans, help: 'show_rich_mention_magazine_help'|trans, settingsKey: 'MBIN_ENTRIES_SHOW_RICH_MENTION_MAGAZINE', defaultValue: true}) }}
        {{ component('settings_row_switch', {label: 'show_rich_ap_link'|trans, help: 'show_rich_ap_link_help'|trans, settingsKey: 'MBIN_ENTRIES_SHOW_RICH_AP_LINK', defaultValue: true}) }}
    </div>
    <strong>{{ 'microblog'|trans }}</strong>
    <div class="settings-section">
        {{ component('settings_row_switch', {label: 'auto_preview'|trans, help: 'auto_preview_help'|trans,  settingsKey: 'KBIN_POSTS_SHOW_PREVIEW'}) }}
        {{ component('settings_row_switch', {label: 'show_users_avatars'|trans, help: 'show_users_avatars_help'|trans, settingsKey: 'KBIN_POSTS_SHOW_USERS_AVATARS', defaultValue: true}) }}
        {{ component('settings_row_switch', {label: 'show_rich_mention'|trans, help: 'show_rich_mention_help'|trans, settingsKey: 'MBIN_POSTS_SHOW_RICH_MENTION', defaultValue: false}) }}
        {{ component('settings_row_switch', {label: 'show_rich_mention_magazine'|trans, help: 'show_rich_mention_magazine_help'|trans, settingsKey: 'MBIN_POSTS_SHOW_RICH_MENTION_MAGAZINE', defaultValue: true}) }}
        {{ component('settings_row_switch', {label: 'show_rich_ap_link'|trans, help: 'show_rich_ap_link_help'|trans, settingsKey: 'MBIN_POSTS_SHOW_RICH_AP_LINK', defaultValue: true}) }}
    </div>
    <strong>{{ 'single_settings'|trans }}</strong>
    <div class="settings-section">
        {{ component('settings_row_enum', {label: 'comment_reply_position'|trans, help: 'comment_reply_position_help'|trans, settingsKey: 'KBIN_COMMENTS_REPLY_POSITION', values: [ {name: 'position_top'|trans , value: 'TOP'}, {name: 'position_bottom'|trans , value: 'BOTTOM' } ], defaultValue: 'TOP' } ) }}
        {{ component('settings_row_switch', {label: 'show_avatars_on_comments'|trans, help: 'show_avatars_on_comments_help'|trans, settingsKey: 'KBIN_COMMENTS_SHOW_USER_AVATAR', defaultValue: true}) }}
    </div>
    <strong>{{ 'mod_log'|trans }}</strong>
    <div class="settings-section">
        {{ component('settings_row_switch', {label: 'show_users_avatars'|trans, help: 'show_users_avatars_help'|trans, settingsKey: 'MBIN_MODERATION_LOG_SHOW_USER_AVATARS', defaultValue: false}) }}
        {{ component('settings_row_switch', {label: 'show_magazines_icons'|trans, help: 'show_magazines_icons_help'|trans, settingsKey: 'MBIN_MODERATION_LOG_SHOW_MAGAZINE_ICONS', defaultValue: false}) }}
        {{ component('settings_row_switch', {label: 'show_new_icons'|trans, help: 'show_new_icons_help'|trans, settingsKey: 'MBIN_MODERATION_LOG_SHOW_NEW_ICONS', defaultValue: true}) }}
    </div>
</div>
