{% if attributes is not defined %}
    {% set attributes = {} %}
{% endif %}
{% if entryCommentAttributes is not defined %}
    {% set entryCommentAttributes = {} %}
{% endif %}
{% if entryAttributes is not defined %}
    {% set entryAttributes = {} %}
{% endif %}
{% if postAttributes is not defined %}
    {% set postAttributes = {} %}
{% endif %}
{% if postCommentAttributes is not defined %}
    {% set postCommentAttributes = {} %}
{% endif %}

{% if pagination is defined and pagination %}
    {% if(pagination.hasPreviousPage is defined and pagination.hasPreviousPage) %}
        {% if pagination.getCurrentCursor is defined and app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_GENERAL_INFINITE_SCROLL')) is not same as 'true' %}
            {{ component('cursor_pagination', {'pagination': pagination, 'isForward': false}) }}
        {% endif %}
    {% endif %}
{% else %}
    {% if(results.hasPreviousPage is defined and results.hasPreviousPage) %}
        {% if results.getCurrentCursor is defined and app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_GENERAL_INFINITE_SCROLL')) is not same as 'true' %}
            {% if results.getCurrentCursor is defined %}
                {{ component('cursor_pagination', {'pagination': results, 'isForward': false}) }}
            {% endif %}
        {% endif %}
    {% endif %}
{% endif %}

{% for subject in results %}
    {% include 'layout/_subject.html.twig' %}
{% endfor %}
{% if pagination is defined and pagination %}
    {% if(pagination.haveToPaginate is defined and pagination.haveToPaginate) %}
        {% if app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_GENERAL_INFINITE_SCROLL')) is same as 'true' %}
            <div data-controller="infinite-scroll" class="infinite-scroll">
                {{ component('loader', {'data-infinite-scroll-target': 'loader'}) }}
                <div data-infinite-scroll-target="pagination" class="visually-hidden">
                    {{ pagerfanta(pagination, null, {'pageParameter':'[p]'}) }}
                </div>
            </div>
        {% elseif pagination.getCurrentCursor is defined %}
            {{ component('cursor_pagination', {'pagination': pagination}) }}
        {% else %}
            {{ pagerfanta(pagination, null, {'pageParameter':'[p]'}) }}
        {% endif %}
    {% endif %}
{% else %}
    {% if(results.haveToPaginate is defined and results.haveToPaginate) %}
        {% if pagination.getCurrentCursor is defined %}
            {{ component('cursor_pagination', {'pagination': results}) }}
        {% endif %}
        {% if app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_GENERAL_INFINITE_SCROLL')) is same as 'true' %}
            <div data-controller="infinite-scroll" class="infinite-scroll">
                {{ component('loader', {'data-infinite-scroll-target': 'loader'}) }}
                <div data-infinite-scroll-target="pagination" class="visually-hidden">
                    {{ pagerfanta(results, null, {'pageParameter':'[p]'}) }}
                </div>
            </div>
        {% elseif results.getCurrentCursor is defined %}
            {{ component('cursor_pagination', {'pagination': results}) }}
        {% else %}
            {{ pagerfanta(results, null, {'pageParameter':'[p]'}) }}
        {% endif %}
    {% endif %}
{% endif %}
{% if not results|length %}
    <aside class="section section--muted">
        <p>{{ 'empty'|trans }}</p>
    </aside>
{% endif %}
