<div class="sidebar-subscriptions section {{ app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_GENERAL_SHOW_SUBSCRIPTIONS_IN_SEPARATE')) is not same as 'true' ? 'inline' : 'section--top' }}">
    <h3>{{ 'subscriptions'|trans }}</h3>
    <div class="subscription-list">
        {% for magazine in magazines %}
            <div class="subscription {{ openMagazine and openMagazine.name is same as magazine.name ? 'active' : '' }}">
                <a href="/m/{{ magazine.name }}">

                    {% if magazine.icon %}
                        <img src="{{ asset(magazine.icon.filePath) | imagine_filter('avatar_thumb') }}" class="magazine-subscription-avatar" alt="{{ magazine.name }}'s icon" />
                    {% else %}
                        <span class="magazine-subscription-avatar-placeholder"></span>
                    {% endif %}

                    <span class="magazine-name {{ magazine.icon ? 'has-image' : '' }}">
                        {{ magazine.title ?? magazine.name }}
                    </span>
                </a>
            </div>
        {% endfor %}
        {% if tooManyMagazines %}
            <div class="subscription {{ openMagazine and openMagazine.name is same as magazine.name ? 'active' : '' }}">
                <a href="https://kbin.localhost/u/{{ app.user.username }}/subscriptions">
                    <button class="btn btn__secondary">
                        {{ 'show_more'|trans }}
                    </button>
                </a>
            </div>
        {% endif %}
    </div>
</div>