{% with %}
{% set KBIN_SUBSCRIPTIONS_IN_SEPARATE_SIDEBAR = constant('App\\Controller\\User\\ThemeSettingsController::KBIN_SUBSCRIPTIONS_IN_SEPARATE_SIDEBAR') %}
{% set KBIN_SUBSCRIPTIONS_SIDEBARS_SAME_SIDE = constant('App\\Controller\\User\\ThemeSettingsController::KBIN_SUBSCRIPTIONS_SIDEBARS_SAME_SIDE') %}
{% set KBIN_GENERAL_SIDEBAR_POSITION = constant('App\\Controller\\User\\ThemeSettingsController::KBIN_GENERAL_SIDEBAR_POSITION') %}
{% set KBIN_SUBSCRIPTIONS_LARGE_PANEL = constant('App\\Controller\\User\\ThemeSettingsController::KBIN_SUBSCRIPTIONS_LARGE_PANEL') %}
{% set KBIN_SUBSCRIPTIONS_SHOW_MAGAZINE_ICON = constant('App\\Controller\\User\\ThemeSettingsController::KBIN_SUBSCRIPTIONS_SHOW_MAGAZINE_ICON') %}
{# for whatever reason doing {% set TRUE = ... %} would crash #}
{% set V_TRUE = constant('App\\Controller\\User\\ThemeSettingsController::TRUE') %}
{% set V_FALSE = constant('App\\Controller\\User\\ThemeSettingsController::FALSE') %}
{% set V_LEFT = constant('App\\Controller\\User\\ThemeSettingsController::LEFT') %}
<aside class="{{ html_classes('sidebar-subscriptions', { 'inline': app.request.cookies.get(KBIN_SUBSCRIPTIONS_IN_SEPARATE_SIDEBAR) is not same as V_TRUE }) }}">
    <section
        class="{{ html_classes('section', app.request.cookies.get(KBIN_SUBSCRIPTIONS_IN_SEPARATE_SIDEBAR) is not same as V_TRUE ? 'inline' : 'section--top') }}"
        data-controller="subs-panel"
        data-subs-panel-sidebar-position-value="{{ app.request.cookies.get(KBIN_GENERAL_SIDEBAR_POSITION) }}"
    >
        <h3>
            {{ 'subscription_header'|trans }}
            <span class="sidebar-subscriptions-icons">
                {% if app.request.cookies.get(KBIN_SUBSCRIPTIONS_IN_SEPARATE_SIDEBAR) is same as V_TRUE %}
                    <a href="#"
                        style="margin-right: .5em;"
                        title="{{ 'subscription_sidebar_pop_in'|trans }}"
                        aria-label="{{ 'subscription_sidebar_pop_in'|trans }}"
                        data-action="subs-panel#reattach"
                    >
                        {% if app.request.cookies.get(KBIN_GENERAL_SIDEBAR_POSITION) is same as V_LEFT
                                and app.request.cookies.get(KBIN_SUBSCRIPTIONS_SIDEBARS_SAME_SIDE) is same as V_TRUE
                            or app.request.cookies.get(KBIN_GENERAL_SIDEBAR_POSITION) is not same as V_LEFT
                                and app.request.cookies.get(KBIN_SUBSCRIPTIONS_SIDEBARS_SAME_SIDE) is not same as V_TRUE %}
                            <i class="fa-solid fa-arrow-right" aria-hidden="true"></i>
                        {% else %}
                            <i class="fa-solid fa-arrow-left" aria-hidden="true"></i>
                        {% endif %}
                    </a>
                {% endif %}
                {% if app.request.cookies.get(KBIN_SUBSCRIPTIONS_IN_SEPARATE_SIDEBAR) is not same as V_TRUE %}
                    <a href="#"
                        title="{{ 'subscription_sidebar_pop_out_left'|trans }}"
                        aria-label="{{ 'subscription_sidebar_pop_out_left'|trans }}"
                        data-action="subs-panel#popLeft"
                    >
                       <i class="fa-solid fa-arrow-left" aria-hidden="true"></i>
                    </a>
                    <a href="#"
                        title="{{ 'subscription_sidebar_pop_out_right'|trans }}"
                        aria-label="{{ 'subscription_sidebar_pop_out_right'|trans }}"
                        data-action="subs-panel#popRight"
                    >
                        <i class="fa-solid fa-arrow-right" aria-hidden="true"></i>
                    </a>
                {% endif %}
            </span>
        </h3>
        <div>
            <ul class="{{ html_classes('subscription-list', 'meta', { 'lg': app.request.cookies.get(KBIN_SUBSCRIPTIONS_LARGE_PANEL) is same as V_TRUE }) }}">
                {% for magazine in magazines %}
                    <li class="{{ html_classes('subscription', { 'active': openMagazine and openMagazine.name is same as magazine.name }) }}">
                        <a class="stretched-link" href="{{ path('front_magazine', {name: magazine.name}) }}">

                            {% if magazine.icon %}
                                <img loading="lazy"
                                    src="{{ magazine.icon.filePath ? (asset(magazine.icon.filePath)|imagine_filter('avatar_thumb')) : magazine.icon.sourceUrl }}"
                                    alt="{{ magazine.name }}'s icon"
                                    class="{{ html_classes('image-inline', 'magazine-subscription-avatar', { 'onlyMobile': app.request.cookies.get(KBIN_SUBSCRIPTIONS_SHOW_MAGAZINE_ICON) is same as V_FALSE }) }}" />
                            {% else %}
                                <span class="{{ html_classes('magazine-subscription-avatar-placeholder', { 'onlyMobile': app.request.cookies.get(KBIN_SUBSCRIPTIONS_SHOW_MAGAZINE_ICON) is same as V_FALSE }) }}"></span>
                            {% endif %}

                            <span class="{{ html_classes('magazine-name', { 'has-image': magazine.icon, 'onlyMobile': app.request.cookies.get(KBIN_SUBSCRIPTIONS_SHOW_MAGAZINE_ICON) is same as V_FALSE }) }}">
                                {{ magazine.title ?? magazine.name }}
                            </span>
                        </a>
                    </li>
                {% endfor %}
                {% if tooManyMagazines %}
                    <div class="subscription">
                        <a href="{{ path('user_subscriptions', {username: app.user.username}) }}">
                            <button class="btn btn__secondary">
                                {{ 'show_more'|trans }}
                            </button>
                        </a>
                    </div>
                {% endif %}
            </ul>
        </div>
    </section>
</aside>
{% endwith %}
