<div class="user-popover">
    <header>
        {% if user.avatar %}
            {{ component('user_avatar', {
                user: user,
                width: 100,
                height: 100,
                asLink: true
            }) }}
        {% endif %}
        <div>
            <h3>
                <a class="link-muted" href="{{ path('user_overview', {username: user.username}) }}">{{ user.username|username }}</a>
            </h3>
            <p class="user__name">
                <span>
                    {{ user.username|username(true) }}
                    {% if user.apManuallyApprovesFollowers is same as true %}
                        <i class="fa-solid fa-lock" aria-description="{{ 'manually_approves_followers'|trans }}" title="{{ 'manually_approves_followers'|trans }}" aria-describedby="{{ 'manually_approves_followers'|trans }}"></i>
                    {% endif %}
                    {% if user.isNew() %}
                        {% set days = constant('App\\Entity\\User::NEW_FOR_DAYS') %}
                        <i class="fa-solid fa-leaf new-user-icon" title="{{ 'new_user_description'|trans({ '%days%': days }) }}" aria-description="{{ 'new_user_description'|trans({ '%days%': days }) }}"></i>
                    {% endif %}
                </span>
                {% if user.apProfileId %}
                    <a href="{{ user.apProfileId }}" rel="noopener noreferrer nofollow" target="_blank" title="{{ 'go_to_original_instance'|trans }}" aria-label="{{ 'go_to_original_instance'|trans }}">
                    <i class="fa-solid fa-external-link" aria-hidden="true"></i></a>
                {% endif %}
            </p>
            <ul>
                <li>{{ 'joined'|trans }}: {{ component('date', {date: user.createdAt}) }}</li>
                <li>
                    <div title="{{ 'cake_day'|trans }}" aria-label="{{ 'cake_day'|trans }}">
                        <i class="fa-solid fa-cake" aria-hidden="true"></i>
                        <span>{{ user.createdAt|format_date('short', '', null, 'gregorian', mbin_lang()) }}</span>
                    </div>
                </li>
                <li>
                    {%- set TYPE_ENTRY = constant('App\\Repository\\ReputationRepository::TYPE_ENTRY') -%}
                    <a href="{{ path('user_reputation', {username: user.username, reputationType: TYPE_ENTRY}) }}">
                        {{ 'reputation_points'|trans }}: {{ get_reputation_total(user) }}
                    </a>
                </li>
            </ul>
            {{ component('user_actions', {user: user}) }}
        </div>
    </header>
    <div class="user-note">
        {{ form_start(form) }}
        {{ form_row(form.body, {label: 'note'}) }}
        {{ form_row(form.submit, {label: 'save', attr: {class: 'btn btn__primary', 'data-action': ''}, row_attr: {class: 'float-end'}}) }}
        {{ form_end(form) }}
    </div>
    <footer>
        <hr>
        <menu>
            <li>
                <a class="stretched-link" href="{{ path('user_entries', {username: user.username}) }}">
                    <div>{{ user.entries|length }}</div>
                    <div>{{ 'threads'|trans }}</div>
                </a>
            </li>
            <li>
                <a class="stretched-link" href="{{ path('user_comments', {username: user.username}) }}">
                    <div>{{ user.entryComments|length }}</div>
                    <div>{{ 'comments'|trans }}</div>
                </a>
            </li>
            <li>
                <a class="stretched-link" href="{{ path('user_posts', {username: user.username}) }}">
                    <div>{{ user.posts|length }}</div>
                    <div>{{ 'posts'|trans }}</div>
                </a>
            </li>
            <li>
                <a class="stretched-link" href="{{ path('user_replies', {username: user.username}) }}">
                    <div>{{ user.postComments|length }}</div>
                    <div>{{ 'replies'|trans }}</div>
                </a>
            </li>
        </menu>
    </footer>
</div>
